<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>108課綱學測攻略數位學習專區-最新消息-甄戰學習顧問</title>
<meta name="description" content="甄戰學習顧問，一點通輔考第一品牌，一點通最新開課資訊及最新考試情報都在一點通專區。" />
<meta name="keywords" content="最新消息-一點通專區-甄戰學習顧問" />
<meta property="og:title" content="最新消息-一點通專區-甄戰學習顧問" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/common/news" />
<meta property="og:site_name" content="最新消息-一點通專區-甄戰學習顧問" />
<meta property="og:description" content="最新消息一點通專區-甄戰學習顧問" />
<link rel="shortcut icon" type="image/x-icon" th:href="${@environment.getProperty('static.url')}+@{/images/front/favicon1.ico}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/front_style.css}" />	<!-- 電腦版 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<!-- 20190625 start -->
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/font-awesome.css}" />
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
<link type="text/css" rel="stylesheet" th:href="${@environment.getProperty('static.url')}+@{/css/front/jquery.mCustomScrollbar.css}" />
<!-- 20190625 end -->
<link th:insert="~{front/loadForOldPage/js :: common}">	
<script th:src="${@environment.getProperty('static.url')}+@{/js/front/banner_offer.js}"></script>
<script th:src="${@environment.getProperty('static.url')}+@{/js/front/submenu.js}"></script>
<script th:src="${@environment.getProperty('static.url')}+@{/js/front/mobile.js}"></script>
<script th:src="${@environment.getProperty('static.url')}+@{/js/front/jquery-ui-sliderAccess.js}"></script>
<script th:src="${@environment.getProperty('static.url')}+@{/js/front/video.js}"></script>
<script th:src="${@environment.getProperty('static.url')}+@{/js/front/tabs_gSAT_newsList.js}"></script>
<script th:src="${@environment.getProperty('static.url')}+@{/js/front/scrollbar_nav_mobile.js}"></script>
<script th:src="${@environment.getProperty('static.url')}+@{/js/front/greensock/TweenMax.min.js}"></script>
<!-- Global site tag (gtag.js) - Google Ads: 957644279 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-957644279"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-957644279');
</script>
</head>
<body>

<!-- 行動版 -->
<div th:insert="~{front/loadForOldPage/layout :: menu_rwd}"></div>
<div class="wrapper">
	<!-- 20190625 start -->
	<div class="header-box">  
		<div th:insert="~{front/loadForOldPage/layout :: header}"></div>
		
		<div th:insert="~{front/loadForOldPage/layout :: menu}"></div>
	</div>
	<input type="hidden" id="dip_project_name" name="dip_project_name" value="" />
		<div class="content">
			<div class="ad">
		<th:block th:if="${#lists.size(navBannerList)==3}">
			<th:block th:each="dataStatus , data : ${navBannerList}">
				<th:block th:if="${data.count == 1}">
				<div><a th:href="${dataStatus.link}" th:onclick="|banner_toInside('${dataStatus.id}')|" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/navBanner/{image}(image=${dataStatus.image})}"></a></div>
				</th:block>
			<th:block th:if="${data.count == 2}">
				<div><a th:href="${dataStatus.link}" th:onclick="|banner_toInside('${dataStatus.id}')|" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/navBanner/{image}(image=${dataStatus.image})}"></a></div>
				</th:block>
			</th:block>
		</th:block>
		<th:block th:if="${#lists.size(navBannerList)<3}">
			<th:block th:each="dataStatus , data : ${navBannerList}">
				<div><a th:href="${dataStatus.link}" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/navBanner/{image}(image=${dataStatus.image})}"></a></div>
			</th:block>
		</th:block>
		
		<div class="metaBox"></div>
		
		<th:block th:if="${#lists.size(navBannerList)==3}">
			<th:block th:each="dataStatus , data : ${navBannerList}">
				<th:block th:if="${data.count == 3}">
				<div><a th:href="${dataStatus.link}" th:onclick="|banner_toInside('${dataStatus.id}')|" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/navBanner/{image}(image=${dataStatus.image})}"></a></div>
				</th:block>
			</th:block>
		</th:block>
		<th:block th:each="dataStatus , data : ${navBannerType2List}">
			<div><a th:href="${dataStatus.link}" th:onclick="|banner_toInside('${dataStatus.id}')|" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/navBanner/{image}(image=${dataStatus.image})}"></a></div>
		</th:block>
		</div>
<!--             ad -->
			<div class="main_area">
				<h1>108課綱學測攻略數位學習專區</h1>
				<div class="back"><a href="/index">回上頁</a></div>
				<hr></hr>

			<div class="gsat_link">
				<span>&nbsp;&nbsp;»&nbsp;快速連結</span>
				<ul>
					<th:block th:each = "dataStatus , data : ${gSATMenuList}"  >
						<li class="fast_link_li">
							<th:block th:if="${dataStatus.name eq '最新消息'}">
								<a class="gsat_link_now" th:href="${dataStatus.link}">[[${dataStatus.name}]]</a>
							</th:block>
							<th:block th:unless="${dataStatus.name eq '最新消息'}">
								<a th:href="${dataStatus.link}">[[${dataStatus.name}]]</a>
							</th:block>
						</li>
					</th:block>
				</ul>
			</div>
			<!-- diplomacy_link -->

      		<h2><div class="red_word">»&nbsp;最新消息</div></h2>

			<div class="tabs"> <!-- 20201123 Linda start-->
				<div class="slider-mask outer">
<!--                 <ul> -->
                    <div class="tabItem">班內訊息</div>
                    <div class="tabItem">最新考情</div>
<!--                 </ul> -->
				</div>
            </div><!-- tabs --><!-- 20201123 Linda end-->


			<div class="tab_container">
			<th:block th:each = "dataStatus , data : ${gSATNewsList}"  >
				<th:block th:if="${dataStatus.category eq '班內訊息'}">
					<div id="qaContent">
                        <ul class="accordionPart">
                            <li>
                                <div class="gsat_title">[[${dataStatus.title}]]<span>[[${dataStatus.begin_date}]]</span>​</div>
                                <div class="clear_float"></div>
                                <div class="gsat_content">
                                <div class="article" th:utext="${#strings.replace(dataStatus.content,'&#10;','&lt;br&gt;')}"></div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- qaContent -->
                </div><!-- qa -->
				</th:block>
			</th:block>
			<div class="tab_container">
			<th:block th:each = "dataStatus , data : ${gSATNewsList}"  >
				<th:block th:if="${dataStatus.category eq '最新考情'}">
					<div id="qaContent">
                        <ul class="accordionPart">
                            <li>
                                <div class="gsat_title">[[${dataStatus.title}]]<span>[[${dataStatus.begin_date}]]</span>​</div>
                                <div class="clear_float"></div>
                                <div class="gsat_content">
                                <div class="article" th:utext="${#strings.replace(dataStatus.content,'&#10;','&lt;br&gt;')}"></div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- qaContent -->
                </div><!-- qa -->
				</th:block>
			</th:block>
			<div style="margin-top:-15%" th:insert="~{front/common/consultationGsat}"></div>
		 </div>
		<!-- content -->
		</div>
	</div><!-- tab_container -->
		<div th:insert="~{front/loadForOldPage/layout :: footer}"></div>	
		<script th:src="${@environment.getProperty('static.url')}+@{/js/facebook_Adjust.js}"></script>
		<script th:src="${@environment.getProperty('static.url')}+@{/js/front/advertising.js}"></script>
<!-- wrapper -->
<script>
	$("#dip_project_name").val($(document).attr("title"));
	
	$('.content').eq(1).css({
		'width': '100%',
		'float': 'left',
		'margin-right': '2%'
		});
	
	
</script>
</body>
</html>
