<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{admin/load/css :: layout}"></head>
<head th:insert="~{admin/load/js :: layout}"></head>
<script th:src="${@environment.getProperty('static.url')}+@{/js/admin/baseList.js}"></script>
<meta charset="UTF-8">
<body>
<div class="container">
	<div th:insert="~{admin/load/layout :: top}"></div>
	<div class="main">
		<div th:insert="~{admin/load/layout :: menu}"></div>
	<form id="mainForm" method="POST" th:object="${newExam}">
		<input type="hidden" id="id" th:field="*{id}" />
		<input type="hidden" id="deleteList" name="deleteList" />
		<!-- content -->
		<div class="content">
			<!-- button group -->
			<div class="btn-group">
				<ul>
					<li><a href="javascript:void(0)" onclick="gotoPage('add')">新增</a></li>
					<li><a href="javascript:void(0)" onclick="checkAll()">全選</a></li>
					<li><a href="javascript:void(0)" onclick="deleteData()">刪除</a></li>
					<li><a href="updateNormalData">去更新正是機資料到本地</a></li>
				</ul>
			</div>
			<!-- button group -->
			
			<!-- search -->
			<div class="search">
				<ul>
					<li>標題搜尋:</li>
					<li><input type="text" id="name" th:field="*{title}"></li>
					<li><button class="search-button" onclick="searchQuery()">搜尋</button></li>
					<li><button class="search-button" onclick="resetData()">清除</button></li>
				</ul>
			</div>
			<!-- search -->
			
			<!-- table -->
			<table class="table-horizon">
				
				<caption><h2>甄戰情報</h2></caption>
				
				<thead>
					<tr>
						<th></th>
						<th>序號</th>
						<th>類別</th>
						<th class="width-lg">標題</th>
						<th>起迄時間</th>
						<th class="width-fixed">功能</th>
					</tr>
				</thead>
				<tbody>
					<th:block test="newExamList.size==0" th:if="${#lists.isEmpty(newExamList)}">
						<tr>
							<td colspan="7" align="center">尚無任何資料</td>
						</tr>
					</th:block>
					<th:block th:each="dataStatus , data : ${newExamList}">
						<tr>
							<td><input type="checkbox" name="selectList" th:value="${dataStatus.id}"/></td>
							<td th:text="${(pageNo-1) * pageCount + data.count}"></td>
							<td th:text="${dataStatus.category_name}"></td>
							<td th:text="${dataStatus.title}"></td>
							<td>[[${dataStatus.begin_date}]]-[[${dataStatus.end_date}]]</td>
							<td class="table-button width-fixed">
								<a href="javascript:void(0)" title="修改" th:onclick="|javascript:changeAction('update', '${dataStatus.id}')|"><i class="fa fa-pencil"></i></a>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<!-- table -->
			<div th:insert="~{admin/load/layout :: page}"></div>
		</div>
		<!-- content -->
 	</form>
		
	<script>

		$(function(){

			changeAction = function(link, id) {
				
				$("#id").val(id);
				$("#mainForm").attr("action", link);
				$("#mainForm").submit();
				
			},
			
			resetData = function() {
				$("#pageNo").val('1');
				$("#name").val('');
				
			},
			
			gotoPage = function(link) {
				
				$("#mainForm").attr("action", link);
				$("#mainForm").submit();
				
			},
			
			setEncryptId = function() {
				$.ajax({
					url: "[[${@environment.getProperty('weburl')}]]/tkbrule/newExam/setEncryptId",
					cache: false,
					async: false,
					dataType: "text",
					type:"POST",
					data:{

					},
					error: function(xhr) {
						alert('Ajax request 發生錯誤');
					},
					success: function(data) {
						alert(data);						
					}
				});
			}

		});
	</script>	
</div>
</div>
</body>
</html>