<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{admin/load/css :: layout}"></head>
<head th:insert="~{admin/load/js :: layout}"></head>
<script th:src="${@environment.getProperty('static.url')}+@{/js/admin/baseList.js}"></script>
<meta charset="UTF-8">
<body>
<div class="container">
	<div th:insert="~{admin/load/layout :: top}"></div>
	<div class="main">
		<div th:insert="~{admin/load/layout :: menu}"></div>
		<form id="mainForm" method="POST" action="index" th:object="${banner}">
		<input type="hidden" id="show_message"  th:field="*{show_message}" />
<!-- 		<input type="hidden" name="pageNo" value="${pageNo}" /> -->
<!-- 		<input type="hidden" name="menu.id" value="${menu.id}" /> -->
<!-- 		<input type="hidden" id="searchText" name="searchText" value="${searchText}" /> -->
	</form>
	<script>
		$(function(){
			alert($("#show_message").val());
			$("#mainForm").submit();
		})
	</script>
</body>
</html>