<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{admin/load/css :: layout}"></head>
<head th:insert="~{admin/load/js :: layout}"></head>
<script th:src="${@environment.getProperty('static.url')}+@{/js/admin/baseList.js}"></script>
<meta charset="UTF-8">
<body>
<div class="container">
	<div th:insert="~{admin/load/layout :: top}"></div>
	<div class="main">
		<div th:insert="~{admin/load/layout :: menu}"></div>
		<form id="mainForm" method="POST" th:object="${navBanner}">
			<input type="hidden" id="id" th:field="*{id}" />
			<input type="hidden" id="count" th:field="*{count}" />
			<input type="hidden" id="deleteList" name="deleteList" />
<!-- 		    <input type="hidden" id="menu_id" th:field="${menu.id}" /> -->
			<!-- /*content*/ -->
			<div class="content">
				<!-- /*button group*/ -->
				<div class="btn-group">
					<ul>
						<li><a href="javascript:void(0)" onclick="gotoPage('add')">新增</a></li>
						<li><a href="javascript:void(0)" onclick="checkAll()">全選</a></li>
						<li><a href="javascript:void(0)" onclick="deleteData()">刪除</a></li>
						<li><a href="updateNormalData">去更新正是機資料到本地</a></li>
					</ul>
				</div>
				<!-- /*button group*/ -->
				
				<!-- /*search*/ -->
				<div class="search">
					<ul>
						<li>
							<span class="important" style="color:red;">【方法一】</span>
							圖片大小搜尋:
						</li>
							<li>
							<select id="type" name="navBanner.type" th:field="*{type}">
								<option value="0">皆顯示</option>
								<option value="1">300*184</option>
								<option value="2">300*600</option>
							</select>
							</li>
							<li>
							<span class="important" style="color:red;">【方法二】</span>							
							</li>						
							<li>標題搜尋:</li>
							<li><input type="text" id="name" name="navBanner.title" th:field="*{title}"></li>
							<li><button class="search-button" onclick="searchQuery()">搜尋</button></li>
							<li><button class="search-button" onclick="resetData()">清除</button></li>
					</ul>
				</div>
				<!-- /*search*/ -->
				
				<!-- /*table*/ -->
				<table class="table-horizon">
					<caption><h2>側邊廣告設定</h2></caption>
					
					<thead>
						<tr>
							<th></th>
							<th>序號</th>
							<th>圖片</th>
							<th>圖片大小</th>
							<th>標題</th>
							<th>連結</th>
	<!-- 						<th>排序</th> -->
							<th>是否顯示</th>
							<th>起迄時間</th>
							<th>點閱率</th>
							<th class="width-fixed">功能</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${#lists.isEmpty(navBannerList)}">
							<tr>
								<td colspan="10" align="center">尚無任何資料</td>
							</tr>
						</th:block>
						<th:block th:each="dataStatus, data : ${navBannerList}">
						<th:block th:with="show_name=${dataStatus.show == 0 ? '否': '是'}">
						<th:block th:with="type=${dataStatus.type == '1' ? '300*184' : '300*600'}">
							<tr>
								<td><input type="checkbox" name="selectList" th:value="${dataStatus.id}" /></td>
								<td th:text="${(pageNo-1) * pageCount + data.count}"></td>
								<td><img th:src="${@environment.getProperty('static.url')}+@{/upload/image/navBanner/{image}(image=${dataStatus.image})}" th:alt="${dataStatus.image}" width="80px" height="80px"/></td>
								<td th:text="${type}"></td>
								<td><div class="width-md shorten" th:text="${dataStatus.title}"></div></td>
								<td><div class="width-md shorten" th:text="${dataStatus.link}"></div></td>
<!-- 								<td><s:property value="#data.sort"/></td> -->
								<td th:text="${show_name}"></td>
								<td>[[${dataStatus.begin_date}]] - [[${dataStatus.end_date}]]</td>
								<td th:text="${dataStatus.click_rate}"></td>
								<td class="table-button width-fixed">
<!--  								<a href="#" title="瀏覽" onclick="changeAction('view', <s:property value="#data.id"/>)"><i class="fa fa-eye"></i></a>  -->
									<a href="javascript:void(0)" title="修改" th:onclick="|javascript:changeAction('update', '${dataStatus.id}')|"><i class="fa fa-pencil"></i></a>
							</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<!-- /*table*/ -->
				
				<!-- /*pagination*/ -->
				<div th:insert="~{admin/load/layout :: page}"></div>
			</div><!-- /*content*/ -->
		</form>
		
		<script>
		$(function(){
			changeAction = function(link, id) {
				$("#id").val(id);
				$("#mainForm").attr("action", link);
				$("#mainForm").submit();	
			},
			resetData = function() {
				$("#pageNo").val('1');
				$("#name").val('');
				$("#type").val('0');
				
			},
			gotoPage = function(link) {
				
				$("#mainForm").attr("action", link);
				$("#mainForm").submit();
// 				location.href = link;
			},
			//重新排序
			resetSort = function () {
				if(confirm("您是否要重新排序?")) {
					$("#mainForm").attr("action", "resetSort");
					alert("已重新排序");
					$("#mainForm").submit();
				}
// 				setTimeout("alert('已重新排序');", 500);
			}
		});
		</script>
	</div>
</div>
</body>
</html>