<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{admin/load/js :: layout}"></head>
<body>
	<form id="main_form" method="POST">
		<input type="hidden" name="department_no" th:value="${userAccount.department_no}" />
		<input type="hidden" id="message" th:value="${message}" />
		<input type="hidden" id="link" th:value="${link}" />
	</form>
	<script>
		$(function(){
			if($("#message").val()){
				alert($("#message").val());
			}
			$("#main_form").attr('action', $("#link").val());
			$("#main_form").submit();
		})
	</script>
</body>
</html>