<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
	<div class="header">
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLSDNHH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		<!-- 置頂按鈕 -->
		<a class="btn-top" href="javascript:void(0);"><i class="fas fa-arrow-up"></i></a>
		<!-- 收納按鈕 -->
		<a class="btn-feature" href="javascript:void(0);"><i class="fas fa-ellipsis-h"></i></a>
		<!-- 展開功能 -->
		<!-- 課程諮詢按鈕 -->
		<a class="btn-course" th:href="${@environment.getProperty('weburl')}+@{/common/consultation}" target="_blank">課程<br>諮詢</a>
		<a class="btn-nav-area" href="javascript:void(0);"><i class="fas fa-bars"></i></a>

		<section class="logo">
			<a href="http://www.tkb.com.tw" title="TKB臺灣知識庫" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/tkb_logo.png}"></a>
			<a th:href="@{/}" title="TKB甄戰學習顧問中心"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/logo.png}"></a>
		</section>

		<section class="top-nav">
			<div class="search-box">
				<div>
					<input type="text" id="google_search" placeholder="請輸入關鍵字"
						onfocus="this.placeholder = ''"
						onblur="this.placeholder = '請輸入關鍵字'">
				</div>
				<div>
					<i class="fas fa-caret-right"></i>
				</div>
				<div>
					<a class="btn-search-go" th:onclick="|google_search()|"><i
						class="fas fa-search" style="cursor: pointer;"></i></a>
				</div>
			</div>
<!-- 			<a class="camp" th:href="${@environment.getProperty('weburl')} + @{/memberAccount/login}" ><i class="fas fa-user"></i>營隊活動</a>  -->
			<div class="location_btn">
	    	<a href="https://www.reallygood.com.tw/camp/index" target="_blank"><i class="fas fa-map-marker-alt"></i>營隊活動</a>
	    </div>
			<a class="advisory" th:href="${@environment.getProperty('weburl')}+@{/common/consultation}"  target="_blank"><i class="fas fa-file-alt"></i>課程諮詢</a>
			<a class="declare" href="javascript:void(0);"><i class="fas fa-skull-crossbones"></i>反詐騙聲明</a>
			<a href="https://www.facebook.com/reallygood.com.tw/" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/fb.png}"></a>
			<a href="https://www.youtube.com/channel/UC5jmb4Apa7M6lO6z6zhzsyA" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/yt.png}"></a>
			<a href="https://line.me/R/ti/p/@402jvlvd?oat__id=2997565" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/line_logo.png}"></a>
		</section>
	</div>
	<!-- header -->
	<!-- 行動版搜尋功能與會員功能按鈕 -->
    <div class="top-nav-mobile">
        <div class="search-box">
            <div>
                <input type="text" id="google_search_rwd" placeholder="請輸入關鍵字" onfocus="this.placeholder = ''" onblur="this.placeholder = '請輸入關鍵字'">
            </div>
            <div><i class="fas fa-caret-right"></i></div>
            <div><a class="btn-search-go" href="javascript:void(0);" onclick="google_search_rwd()"><i class="fas fa-search"></i></a></div>
        </div>
		<a href="https://line.me/R/ti/p/@402jvlvd?oat__id=2997565" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/line_logo.png}"></a>
		<a href="https://www.youtube.com/channel/UC5jmb4Apa7M6lO6z6zhzsyA" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/yt.png}"></a>
        <a href="https://www.facebook.com/tkbdaso/" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/fb.png}"></a>
    </div><!-- top-nav-mobile -->
    
    
    
	<!-- top-nav-mobile -->

	
	<!-- 20201225 end -->
	<script>
	
	var dasoFormPath = "[[${@environment.getProperty('weburl')}]]" ;
	
		function google_search() {
			location.href = dasoFormPath+"/search?keyword=" + $("#google_search").val();
		}

		function google_search_rwd() {
			location.href = dasoFormPath+"/search?keyword=" + $("#google_search_rwd").val();
		}
		//電腦版
		
		function newExamMenu() {
			$.ajax({
				url: "/newExam/newExamMenu",
				cache: false,
				async: false,
				dataType: "json",
				type:"POST",
				data:{
				},
				error: function(xhr) {
					alert('111Ajax request 發生錯誤');
				},
				success: function(data) {
					var str = "";
					$(".menu_04").empty();
					if(data != null && data.length > 0){
						str += "<nav>";
						for(i = 0 ; i < data.length; i++){
							var newExamCategory = data[i];
							str +=  "<a style='cursor:pointer;' onclick='searchMenuCategory(\""+newExamCategory.id+"\",\"newExam\")'><i class='fas fa-caret-right'></i>"+newExamCategory.name+"</a>";
						}
						str +=  "</nav>";

						$(".menu_04").append(str);
					}
				}
			});
		}
		
		
		function schoolBulletinMenu() {
				$.ajax({
					url: "/schoolBulletin/schoolBulletinMenu",
					cache: false,
					async: false,
					dataType: "json",
					type:"POST",
					data:{
					},
					error: function(xhr) {
						alert('222Ajax request 發生錯誤');
					},
					success: function(data) {
						
						var str = "";
						$(".menu_01").empty();
						if(data != null && data.length > 0){
							str += "<nav>";
							for(i = 0 ; i < data.length; i++){
								var schoolBulletinCategory = data[i];
								str +=  "<a style='cursor:pointer;' onclick='searchMenuCategory(\""+schoolBulletinCategory.id+"\",\"schoolBulletin\")'><i class='fas fa-caret-right'></i>"+schoolBulletinCategory.name+"</a>";
							}
							str +=  "</nav>";
							$(".menu_01").append(str);
						}
					}
				});
			}
		
		function searchMenuCategory(id, action_name) {
			$("#category_schoolBulletin").val(id);
			$("#category_lectures").val(id);
			$("#category_newExam").val(id);
			$("#layer").val("1");
			$("#mainForm").attr("action", dasoFormPath+"/"+action_name+"/index");
			$("#mainForm").submit();
		}
		
	</script>
</div>

<!-- 20201225 start：行動版下方快速選單 -->
<!-- <div th:fragment="header-bottom"> -->
<!-- 	<section class="header-topbar"> -->
<!--     <div class="header-topbar-nav"> -->
<!--         <a class="header-topbar-navBtn" th:href="${@environment.getProperty('sshDasoPath')}+@{schedule/index}" target="_blank"> -->
<!--             <i class="fas fa-book"></i>課表查詢 -->
<!--         </a> -->
<!--         <a class="header-topbar-navBtn" href="https://m.me/tkbdaso" target="_blank"> -->
<!--             <i class="fab fa-facebook-messenger"></i>FB諮詢 -->
<!--         </a> -->
<!--         <a class="header-topbar-navBtn" th:href="${@environment.getProperty('sshDasoPath')}+@{common/consultation}" target="_blank"> -->
<!--             <i class="fas fa-phone"></i>課程諮詢 -->
<!--         </a> -->
<!--     </div> -->
<!--     <input type="hidden" name="jsGetModel" id="jsGetModel" th:value="${#httpSession.getAttribute('dasoIdentity')}"> -->
<!-- </section> -->
<!-- </div> -->


<div th:fragment="menu">
	<div class="nav_area">
		<div class="nav">
			<form id="mainForm" method="POST" enctype="multipart/form-data">
				<input type="hidden" id="id" name="id"> 
				<input type="hidden" id="category_schoolBulletin" name="schoolBulletin.category">
				<input type="hidden" id="category_lectures" name="lectures.category">
				<input type="hidden" id="category_newExam" name="newExam.category">
				<input type="hidden" id="layer" name="schoolBulletin.layer">
				<input type="hidden" id="action_name" name="action_name">
			</form>
			<ul>
<!-- 				<li><a style="cursor:pointer;" onclick="schoolBulletinMenu()">大碩公告</a></li> -->
<!-- 				<li><a><dd>系所介紹</dd></a></li> -->
<!-- 				<li><a th:href="${@environment.getProperty('weburl')}"><dd>課程總覽</dd></a></li> -->
<!-- 				<li><a style="cursor:pointer;" onclick="newExamMenu()"><dd>最新考情</dd></a></li> -->
<!-- 				<li><a th:href="${@environment.getProperty('weburl')}+@{/common/consultation}"><dd>線上報名</dd></a></li> -->
<!-- 				<li><a th:href="${@environment.getProperty('weburl')}+@{/schedule/index}"><dd>課表查詢</dd></a></li> -->
<!-- 				<li><a -->
<!-- 					href="https://bookseat.tkblearning.com.tw/book-seat/student/login/toLogin"><dd>數位課程預約</dd></a></li> -->
<!-- 				<li><a th:href="${@environment.getProperty('weburl')}+@{/location/index}"><dd>服務據點</dd></a></li> -->
			
					 <li><a>高中職升大學</a></li>
		             <li><a>學習歷程</a></li>
		             <li><a>影音教材</a></li>
		             <li><a>醫學甄試專班</a></li>
		             <li><a>熱門講座</a></li>
		             <li><a>大學轉學考</a></li>
		             <li><a>研究所甄試</a></li>
		             <li><a>在職專班</a></li>
		             <li><a>國營/銀行複試</a></li>
		             <li><a>關於甄戰</a></li>
			</ul>
		</div>
		<!-- nav -->

		<div class="menu_area">

<!-- 			<div class="menu"> -->
<!-- 				<form id="listForm" method="POST"> -->
<!-- 					<input type="hidden" name="searchCategory" id="searchCategoryid" /> -->
<!-- 				</form> -->
<!-- 				<div class="menu_01"></div> -->
<!-- 				menu_01 -->
<!-- 				<div class="menu_02"> -->
<!--             	<main> -->
<!-- 					<dl> -->
<!-- 						<dt><i class="fas fa-caret-right"></i>理工類研究所</dt> -->
<!-- 						<dd> -->
<!--                             <ul> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=25E6C3D26FAD944742271077E7F94D7B}">電子電機所</a></li> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=CF3219310A10AA58FFE1EDCAB5AC7BDA}">化工所</a></li> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=6CDF5506DF34F2037E02CE1C0FECE1B4}">資工所</a></li> -->
<!-- 							</ul> -->
<!-- 							<ul> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=198A3FEE4457FAC2DC0C3A03680B86AE}">機械所</a></li> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=9B476623CD4693C8BD8A4749EFDEEF44}">生化化學所</a></li> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=3EB9A7D0B92BAD93BAD44AD872A14CB5}">材料所</a></li> -->
<!-- 		                    </ul> -->
<!-- 		                    <ul> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=7FB8C1F03B04B66F5C85B6C20CAF36E7}">航太所</a></li> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=FD075EBF10438FE68435AC08D4909EFA}">環工所</a></li> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=C8E49EE56069A9A3CB117755AD6B7EC4}">土木所</a></li> -->
<!--                             </ul> -->
<!-- 						</dd>     -->
<!-- 					</dl> -->

<!-- 					<dl> -->
<!-- 						<dt><i class="fas fa-caret-right"></i>商管類研究所</dt> -->
<!-- 						<dd> -->
<!--                             <ul> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=BA2F4774FB02B5CECFE375A9C0A9BF9A}">財金所</a></li> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=C4DCEDD5D20CBF6BA76858914780C19C}">統計所</a></li> -->
<!-- 		                    </ul> -->
<!-- 		                    <ul> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=86E119B22FCBCAC2D7A236146FF4B6BC}">企研所</a></li> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=B60D17352F339B7C550E7C440C1AD044}">資管所</a></li> -->
<!-- 		                    </ul> -->
<!-- 		                    <ul> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=0D99DECA960AA1A486563EC7FD9A6B9B}">經研所</a></li> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=60021127B8B5F7AECA403578E0D69293}">工管所</a></li> -->
<!-- 			                </ul> -->
<!-- 						</dd>     -->
<!-- 					</dl> -->
					
<!-- 					<dl> -->
<!-- 						<dt><i class="fas fa-caret-right"></i>人文類研究所</dt> -->
<!-- 						<dd> -->
<!--                             <ul> -->
<!-- 			                    <li><a th:href="${@environment.getProperty('weburl')}+@{/exam/index?str=0058FDC011295ECF47A5C3F5C0FED04F}">傳播所</a></li> -->
<!-- 		                    </ul> -->
<!-- 						</dd>     -->
<!-- 					</dl> -->
<!-- 				</main> -->
<!-- 	 			</div> -->
<!-- 				<div class="menu_03"></div> -->
<!-- 				<div class="menu_04"></div> -->
<!-- 				<div class="menu_05"></div> -->
<!-- 				<div class="menu_06"></div> -->
<!-- 				<div class="menu_07"></div> -->
<!-- 				menu_02 -->


<!-- 			</div> -->



		<div class="menu">
            <form id="listForm" method="POST">
           	 	<input type="hidden" name="searchCategory" id="searchCategoryid" value="42">
            </form>
            <div class="menu_01">
            	<main>
				<dl>
					<dt><i class="fas fa-caret-right"></i>最新考情</dt>
					<dd>
		                <ul>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=932DEFBF9A06471E3A1436C3808D1BB7">特殊選才</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=1F60869C08E23C1642CB028AF6A0E283">繁星推薦</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=7D729692CC8CACF2CF74477D47EA1D53">個人申請</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=CC85C01C3601D749EDF4DD89244DD1E0">分科測驗</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=9C4A3F45B7C1F0F6CD12DA46E0D73E44">統一入學測驗</a></li>
		                    <li><a href="https://www.reallygood.com.tw/GSAT/index?str=363084B7B5747365249A9238BCDEDB6D">108新課綱</a></li>
		                </ul>
					</dd>    
				</dl>
				<dl>
					<dt><i class="fas fa-caret-right"></i>科系介紹</dt>
					<dd>
		                <ul>
		                    <li><a href="https://www.reallygood.com.tw/18groups/index">大學18學群</a></li>
		                    
		                    <li><a href="https://www.reallygood.com.tw/common/technology_intro">科大21類群</a></li>
		                </ul>
					</dd>    
				</dl>
				<dl>
					<dt><i class="fas fa-caret-right"></i>書審面試準備</dt>
					<dd>
		                <ul>
		                    <li><a href="/common/senior_review">書審製作</a></li>
		                    <li><a href="https://www.reallygood.com.tw/common/senior_exam">面試考古題</a></li>
		                </ul>
					</dd>    
				</dl>
				<dl>
					<dt><i class="fas fa-caret-right"></i>課程介紹</dt>
					<dd>
		                <ul>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=11CACC520F9B5BB1A5D51C362B717B4A">學科準備</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=D16E7B8BC8F65768879D7DFBF08376E0">甄試準備</a></li>
		                </ul>
					</dd>    
				</dl>
				<dl>
					<dt><i class="fas fa-caret-right"></i>成功範例</dt>
					<dd>
		                <ul>
		                    <li><a href="https://www.reallygood.com.tw/winner/index">贏家經驗談</a></li>
		                    <li><a href="https://www.reallygood.com.tw/admit/index">考取金榜</a></li>
		                </ul>
					</dd>    
				</dl>
				</main>
<!--                 <nav> -->
<!-- <%--                     <a href="${BASE_PATH}common/about"><i class="fas fa-caret-right"></i>關於甄戰</a> --%> -->
<!-- <%--                     <a href="${BASE_PATH}location/index"><i class="fas fa-caret-right"></i>甄戰據點</a> --%> -->
<!-- <%--                     <a href="${BASE_PATH}common/teacher"><i class="fas fa-caret-right"></i>講師陣容</a> --%> -->
<!--                 </nav> -->
            </div><!-- menu_01 -->

            <div class="menu_02">
                <nav>
                    <a style="cursor:pointer;" onclick="searchMenuCategory(41,'newExam')"><i class="fas fa-caret-right"></i>學習歷程情報</a>
                    <a style="cursor:pointer;" onclick="searchMenuCategory(61,'lectures')"><i class="fas fa-caret-right"></i>主題課程</a>
                    <a href="https://www.reallygood.com.tw/GSAT/index?str=363084B7B5747365249A9238BCDEDB6D"><i class="fas fa-caret-right"></i>108新課綱</a>
                    <a style="cursor:pointer;" onclick="searchMenuCategory(101,'newExam')"><i class="fas fa-caret-right"></i>APCS檢測</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=BA2F4774FB02B5CECFE375A9C0A9BF9A"><i class="fas fa-caret-right"></i>課程介紹</a>
                </nav>
            </div><!-- menu_02 -->
            
            <div class="menu_03">
				<main>
				<dl>
					<dt><i class="fas fa-caret-right"></i>國中影音教材</dt>
					<dd>
		                <ul>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=FD1B62B25081B810A202A7A3209FC1CB">國中課程細說</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=4AC20A88705AB21A44D6DE9849C7653C">會考總複習</a></li>
		                </ul>
					</dd>    
				</dl>
				<dl>
					<dt><i class="fas fa-caret-right"></i>高中影音教材</dt>
					<dd>
		                <ul>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=11CACC520F9B5BB1A5D51C362B717B4A">學測細說</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=26682917388D1CB38E9299518C8657C1">分科測驗細說</a></li>

		                </ul>
					</dd>    
				</dl>
				<dl>
					<dt><i class="fas fa-caret-right"></i>警專影音教材</dt>
					<dd>
		                <ul>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=F71B9691C31348F36F97170F1F960DC1">警專總複習</a></li>
		                </ul>
					</dd>    
				</dl>
				<dl>
					<dt><i class="fas fa-caret-right"></i>最新考情</dt>
					<dd>
		                <ul>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=F7229F6ADD9F230A5FB41A782B73F2A0">會考歷屆考題</a></li>
		                    <li><a href="https://www.reallygood.com.tw/GSAT/index?str=13BE38143F89F6FD8563A0C6EAE15BC1">素養考題</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=81409192F1861A6551FD23DC875212B2">學測歷屆試題</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=244AE6959993A9D97BFAB0BA20FED495">分科測驗歷屆試題</a></li>
		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=7D72E02F62D91E50B066D32395353782">警專歷屆試題</a></li>
		                </ul>
					</dd>    
				</dl>
<!-- 				<dl> -->
<!-- 					<dt><i class="fas fa-caret-right"></i>精選題庫</dt> -->
<!-- 					<dd> -->
<!-- 		                <ul> -->
<!-- 		                    <li><a href="https://reallygood.upad12.com/">知識點題庫</a></li> -->
<!-- 		                    <li><a href="https://eric.csofe.org/">素養題庫</a></li> -->
<!-- 		                </ul> -->
<!-- 					</dd>     -->
<!-- 				</dl> -->
				<dl>
					<dt><i class="fas fa-caret-right"></i>教材介紹</dt>
					<dd>
		                <ul>
		                    <li><a href="https://www.reallygood.com.tw/GSAT/index?str=FD075EBF10438FE68435AC08D4909EFA">師資陣容</a></li>
		                    <li><a href="https://www.reallygood.com.tw/GSAT/index?str=BA6B176B2AE7534FCB1980DD4790E840">預約試聽</a></li>
		                </ul>
					</dd>    
				</dl>
				</main>
            </div>
            
            <div class="menu_04">
            	<nav>
                    <a style="cursor:pointer;" onclick="searchMenuCategory(42,'newExam')"><i class="fas fa-caret-right"></i>醫學甄試情報</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=A50BDF87B5EF9AFCAF0C68F0492A6FE8"><i class="fas fa-caret-right"></i>醫學書審口試技巧</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=6C33B5E71B6CE16E6DD6910BB5FFC682"><i class="fas fa-caret-right"></i>課程介紹</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=205B1EA90F8D3AAA43487E45BB25AC29&print_id=5288"><i class="fas fa-caret-right"></i>暑期先修</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=879754E89B28C153FF2DAEF352CDBDE5"><i class="fas fa-caret-right"></i>學士後醫</a>
                    <a href="https://www.reallygood.com.tw/winner/index"><i class="fas fa-caret-right"></i>贏家經驗談</a>
                </nav>
            </div>

            <div class="menu_05">
                <nav>
                    <a style="cursor:pointer;" onclick="searchMenuCategory(141,'lectures')"><i class="fas fa-caret-right"></i>國中升高中</a>
                    <a style="cursor:pointer;" onclick="searchMenuCategory(142,'lectures')"><i class="fas fa-caret-right"></i>高中升大學</a>
                    <a style="cursor:pointer;" onclick="searchMenuCategory(143,'lectures')"><i class="fas fa-caret-right"></i>大學升研究所</a>
                    <a style="cursor:pointer;" onclick="searchMenuCategory(144,'lectures')"><i class="fas fa-caret-right"></i>國營事業複試</a>
                    <a style="cursor:pointer;" onclick="searchMenuCategory(61,'lectures')"><i class="fas fa-caret-right"></i>主題課程</a>
                </nav>
            </div><!-- menu_05 -->

            <div class="menu_06">
                <nav>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=83C44F47F64D6AA60CA0FAB56C0D1AD5&print_id=6485"><i class="fas fa-caret-right"></i>寒假轉學考</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=5BB700D6B739BFCC2DAACC5E2B15BCE8"><i class="fas fa-caret-right"></i>暑假轉學考</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=879754E89B28C153FF2DAEF352CDBDE5"><i class="fas fa-caret-right"></i>學士後醫</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=F0886497A76911489ECBA5D5BCA72868"><i class="fas fa-caret-right"></i>課程介紹</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=339876FC35DA12E75EFB1E409961B5C9"><i class="fas fa-caret-right"></i>常見Q&A</a>
                </nav>
            </div><!-- menu_06 -->

            <div class="menu_07">
                <nav>
					<a href="https://www.reallygood.com.tw/newExam/inside?str=C839127A8222532F37B9B52B8B075673"><i class="fas fa-caret-right"></i>研究所推甄</a>
					<a href="https://www.reallygood.com.tw/newExam/inside?str=0AB98C37435A1716A3CA5BFEF5596942"><i class="fas fa-caret-right"></i>研究所複試</a>
					<a href="https://www.reallygood.com.tw/newExam/inside?str=4747EA268E81B1F0FD1BB9EEFFDC4465"><i class="fas fa-caret-right"></i>研究所推甄-課程介紹</a>
               		<a href="https://www.reallygood.com.tw/newExam/inside?str=C9AAE4821F1FB7CC436936B25EEFAA10"><i class="fas fa-caret-right"></i>研究所複試-課程介紹</a>
               		<a href="https://www.reallygood.com.tw/newExam/inside?str=BF5F6A1DAD0E9477E9169649C0A338A6"><i class="fas fa-caret-right"></i>常見Q&A</a>
               		<a href="https://www.reallygood.com.tw/chosenArticle/index"><i class="fas fa-caret-right"></i>書審面試準備</a>
                	<a href="https://www.reallygood.com.tw/winner/index"><i class="fas fa-caret-right"></i>贏家經驗談</a>
                </nav>
<!--             <main> -->
<!-- 				<dl> -->
<!-- 					<dt><a href="https://www.reallygood.com.tw/newExam/inside?str=C839127A8222532F37B9B52B8B075673"><i class="fas fa-caret-right"></i>研究所推甄</a></dt> -->
<!-- 					<dd> -->
<!-- 		                <ul> -->
<!-- 		                </ul> -->
<!-- 					</dd>     -->
<!-- 				</dl> -->
<!-- 				<dl> -->
<!-- 					<dt><a href="https://www.reallygood.com.tw/newExam/inside?str=0AB98C37435A1716A3CA5BFEF5596942"><i class="fas fa-caret-right"></i>研究所複試</a></dt> -->
<!-- 					<dd> -->
<!-- 		                <ul> -->
<!-- 		                </ul> -->
<!-- 					</dd>     -->
<!-- 				</dl> -->
<!-- 				<dl> -->
<!-- 					<dt><i class="fas fa-caret-right"></i>課程介紹</dt> -->
<!-- 					<dd> -->
<!-- 		                 <ul> -->
<!-- 		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=4747EA268E81B1F0FD1BB9EEFFDC4465">研究所推甄</a></li> -->
<!-- 		                    <li><a href="https://www.reallygood.com.tw/newExam/inside?str=C9AAE4821F1FB7CC436936B25EEFAA10">研究所複試</a></li> -->
<!-- 		                </ul> -->
<!-- 					</dd>     -->
<!-- 				</dl> -->
<!-- 				<dl> -->
<!-- 					<dt><a href="https://www.reallygood.com.tw/common/qa?type=2"><i class="fas fa-caret-right"></i>常見Q&A</a></dt> -->
<!-- 					<dd> -->
<!-- 		                <ul> -->
<!-- 		                </ul> -->
<!-- 					</dd>     -->
<!-- 				</dl> -->
<!-- 				<dl> -->
<!-- 					<dt><a href="https://www.reallygood.com.tw/chosenArticle/index"><i class="fas fa-caret-right"></i>書審面試準備</a></dt> -->
<!-- 					<dd> -->
<!-- 		                <ul> -->
<!-- 		                </ul> -->
<!-- 					</dd>     -->
<!-- 				</dl> -->
<!-- 				<dl> -->
<!-- 					<dt><a href="https://www.reallygood.com.tw/winner/index"><i class="fas fa-caret-right"></i>贏家經驗談</a></dt> -->
<!-- 					<dd> -->
<!-- 		                <ul> -->
<!-- 		                </ul> -->
<!-- 					</dd>     -->
<!-- 				</dl> -->
<!--             </main> -->
            </div><!-- menu_07 -->

            <div class="menu_08">
            	<nav>
                    <a href="https://www.reallygood.com.tw/chosenArticle/inside?str=E0D0F172D1776A8E44490493CC41231D"><i class="fas fa-caret-right"></i>入學管道介紹</a>
                    <a href="https://www.reallygood.com.tw/newExam/index?categoryId=45"><i class="fas fa-caret-right"></i>最新考情</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=ABDE3ABA9F103A2EF03B4DA0FACBC1BD"><i class="fas fa-caret-right"></i>課程介紹</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=CD132C1EA4D5C219C5530CFB9DC9C361"><i class="fas fa-caret-right"></i>常見Q&A</a>
                 </nav>
            </div><!-- menu_08 -->

            <div class="menu_09">
                <nav>
                    <a href="https://www.reallygood.com.tw/newExam/index?categoryId=141"><i class="fas fa-caret-right"></i>最新招考消息</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=74A48E26280DD7F2F2F6AD678AAD0BCC"><i class="fas fa-caret-right"></i>國營聯招</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=2EF5DD3EAF843CB18BBAA7BE389FFD26"><i class="fas fa-caret-right"></i>公股銀行</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=05D09013CE85AF0D6E84C75A77AAEBD1"><i class="fas fa-caret-right"></i>中華電信</a>
                    <a href="https://www.reallygood.com.tw/newExam/inside?str=B79927823F1956AE1D5F494E8EE47410&print_id=6714&gclid=CjwKCAiA-_L9BRBQEiwA-bm5fnM2GPuN8MkjIutnb2M_rsfa4YTPz4bF4h5vzETt4FADm-SE-vHp8hoCVLwQAvD_BwE"><i class="fas fa-caret-right"></i>課程介紹</a>
                    <a href="https://www.reallygood.com.tw/winner/index"><i class="fas fa-caret-right"></i>贏家經驗談</a>                
                </nav>
            </div><!-- menu_09 -->
            
            <div class="menu_010">
                <nav>
                    <a href="https://www.reallygood.com.tw/schoolBulletin/index"><i class="fas fa-caret-right"></i>系統公告</a>
                    <a href="https://www.reallygood.com.tw/location/index"><i class="fas fa-caret-right"></i>服務據點</a>
                    <a href="https://www.reallygood.com.tw/lectures/index"><i class="fas fa-caret-right"></i>近期活動</a>
                    <a href="https://www.reallygood.com.tw/forecast/index"><i class="fas fa-caret-right"></i>落點網站</a>
                    <a href="https://www.reallygood.com.tw/camp/index"><i class="fas fa-caret-right"></i>主題課程</a>
                </nav>
            </div><!-- menu_010 -->

        </div><!-- menu -->
			<!-- menu -->
		</div>
		<!-- menu_area -->
	</div>
	<!-- nav_area-->
</div>
<div th:fragment="menu_rwd">
	<!-- 20190625 start -->
	<!-- 行動版左上方主選單浮出次選單 -->
	<section class="header-topbar">
    <div class="header-topbar-nav">
        <a class="header-topbar-navBtn" th:href="${@environment.getProperty('weburl')}+@{/lectures/index}" target="_blank">
            <i class="fas fa-tv"></i>最新活動
        </a>
        <a class="header-topbar-navBtn" th:href="${@environment.getProperty('weburl')}+@{/common/consultation}" target="_blank">
            <i class="fa fa-phone"></i>預約諮詢
        </a>
        <a class="header-topbar-navBtn" th:href="${@environment.getProperty('weburl')}+@{/location/index}" target="_blank">
            <i class="fas fa-table"></i>服務據點
        </a>
    </div>
    </section>
<!--     <input type="hidden" name="jsGetModel" id="jsGetModel" th:value="${#httpSession.getAttribute('dasoIdentity')}"> -->
<!-- 	</section> -->
	<div class="nav-mobile">
    <aside><a href="javascript:void(0);"><i class="fas fa-power-off"></i>關閉</a></aside>
    <section class="scroll-container">
        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>高中職升大學</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>最新考情</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=932DEFBF9A06471E3A1436C3808D1BB7}">特殊選才</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=1F60869C08E23C1642CB028AF6A0E283}">繁星推薦</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=7D729692CC8CACF2CF74477D47EA1D53}">個人申請</a>
            	<a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=CC85C01C3601D749EDF4DD89244DD1E0}">分科測驗</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=9C4A3F45B7C1F0F6CD12DA46E0D73E44}">統一入學測驗</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/GSAT/index?str=363084B7B5747365249A9238BCDEDB6D}">108新課綱</a>
            </div>
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>科系介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a href="https://www.reallygood.com.tw/18groups/index">大學18學群</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/common/technology_intro}">科大21類群</a>
            </div>
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>書審面試準備</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a th:href="${@environment.getProperty('weburl')}+@{/common/senior_review}">書審製作</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/common/senior_exam}">面試考古題</a>
            </div>
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>課程介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=11CACC520F9B5BB1A5D51C362B717B4A}">學科準備</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=D16E7B8BC8F65768879D7DFBF08376E0}">甄試準備</a>
            </div>
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>成功範例</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a th:href="${@environment.getProperty('weburl')}+@{/winner/index}">贏家經驗談</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/admit/index}">考取金榜</a>
            </div>
        </section><!-- category-sub-container -->

        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>學習歷程</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" style="cursor:pointer;" onclick="searchMenuCategory(41,'newExam')">
                <div><i class="fas fa-caret-right"></i>學習歷程情報</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" style="cursor:pointer;" onclick="searchMenuCategory(61,'lectures')">
                <div><i class="fas fa-caret-right"></i>主題課程</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/GSAT/index?str=363084B7B5747365249A9238BCDEDB6D}">
                <div><i class="fas fa-caret-right"></i>108新課綱</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" style="cursor:pointer;" onclick="searchMenuCategory(101,'newExam')">
                <div><i class="fas fa-caret-right"></i>APCS檢測</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=BA2F4774FB02B5CECFE375A9C0A9BF9A}">
                <div><i class="fas fa-caret-right"></i>課程介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
        </section><!-- category-sub-container -->

        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>影音教材</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>國中影音教材</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=FD1B62B25081B810A202A7A3209FC1CB}">國中課程細說</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=4AC20A88705AB21A44D6DE9849C7653C}">會考總複習</a>
            </div>
            
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>高中影音教材</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=11CACC520F9B5BB1A5D51C362B717B4A}">學測細說</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=26682917388D1CB38E9299518C8657C1}">分科測驗細說</a>
            </div>
            
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>警專影音教材</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a href="https://www.reallygood.com.tw/newExam/inside?str=F71B9691C31348F36F97170F1F960DC1">警專總複習</a>
            </div>
            
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>最新考情</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=F7229F6ADD9F230A5FB41A782B73F2A0}">會考歷屆考題</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/GSAT/index?str=13BE38143F89F6FD8563A0C6EAE15BC1}">素養考題</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=81409192F1861A6551FD23DC875212B2}">學測歷屆試題</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=244AE6959993A9D97BFAB0BA20FED495}">分科測驗歷屆試題</a>
		        <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=7D72E02F62D91E50B066D32395353782}">警專歷屆試題</a>
            </div>
             
            <a class="category-sub" href="javascript:void(0);">
                <div><i class="fas fa-caret-right"></i>教材介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a th:href="${@environment.getProperty('weburl')}+@{/GSAT/index?str=FD075EBF10438FE68435AC08D4909EFA}">師資陣容</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/GSAT/index?str=BA6B176B2AE7534FCB1980DD4790E840}">預約試聽</a>
            </div>                      
        </section><!-- category-sub-container -->

        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>醫學甄試專班</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" style="cursor:pointer;" onclick="searchMenuCategory(42,'newExam')">
                <div><i class="fas fa-caret-right"></i>醫學甄試情報</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=A50BDF87B5EF9AFCAF0C68F0492A6FE8}">
                <div><i class="fas fa-caret-right"></i>醫學書審口試技巧</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=6C33B5E71B6CE16E6DD6910BB5FFC682}">
                <div><i class="fas fa-caret-right"></i>課程介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=205B1EA90F8D3AAA43487E45BB25AC29&print_id=5288}">
                <div><i class="fas fa-caret-right"></i>暑期先修</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=879754E89B28C153FF2DAEF352CDBDE5}">
                <div><i class="fas fa-caret-right"></i>學士後醫</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/winner/index}">
                <div><i class="fas fa-caret-right"></i>贏家經驗談</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
       	</section>

        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>熱門講座</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" style="cursor:pointer;" onclick="searchMenuCategory(141,'lectures')">
                <div><i class="fas fa-caret-right"></i>國中升高中</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" style="cursor:pointer;" onclick="searchMenuCategory(142,'lectures')">
                <div><i class="fas fa-caret-right"></i>高中升大學</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" style="cursor:pointer;" onclick="searchMenuCategory(143,'lectures')">
                <div><i class="fas fa-caret-right"></i>大學升研究所</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" style="cursor:pointer;" onclick="searchMenuCategory(144,'lectures')">
                <div><i class="fas fa-caret-right"></i>國營事業複試</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" style="cursor:pointer;" onclick="searchMenuCategory(61,'lectures')">
                <div><i class="fas fa-caret-right"></i>主題課程</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
        </section><!-- category-sub-container -->

        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>大學轉學考</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=83C44F47F64D6AA60CA0FAB56C0D1AD5&print_id=6485}">
                <div><i class="fas fa-caret-right"></i>寒假轉學考</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=5BB700D6B739BFCC2DAACC5E2B15BCE8}">
                <div><i class="fas fa-caret-right"></i>暑假轉學考</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=879754E89B28C153FF2DAEF352CDBDE5}">
                <div><i class="fas fa-caret-right"></i>學士後醫</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=F0886497A76911489ECBA5D5BCA72868}">
                <div><i class="fas fa-caret-right"></i>課程介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=339876FC35DA12E75EFB1E409961B5C9}">
                <div><i class="fas fa-caret-right"></i>常見Q&A</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
        </section><!-- category-sub-container -->

        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>研究所甄試</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=C839127A8222532F37B9B52B8B075673}">
                <div><i class="fas fa-caret-right"></i>研究所推甄</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=0AB98C37435A1716A3CA5BFEF5596942}">
                <div><i class="fas fa-caret-right"></i>研究所複試</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=C839127A8222532F37B9B52B8B075673}">
                <div><i class="fas fa-caret-right"></i>課程介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <div class="category-basic">
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=4747EA268E81B1F0FD1BB9EEFFDC4465}">研究所推甄</a>
                <a th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=4747EA268E81B1F0FD1BB9EEFFDC4465}">研究所複試</a>
            </div> 
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=BF5F6A1DAD0E9477E9169649C0A338A6}">
                <div><i class="fas fa-caret-right"></i>常見Q&A</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/chosenArticle/index}">
                <div><i class="fas fa-caret-right"></i>書審面試準備</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/winner/index}">
                <div><i class="fas fa-caret-right"></i>贏家經驗談</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
        </section><!-- category-sub-container -->

        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>在職專班</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/chosenArticle/inside?str=E0D0F172D1776A8E44490493CC41231D}">
                <div><i class="fas fa-caret-right"></i>入學管道介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/index?categoryId=45}">
                <div><i class="fas fa-caret-right"></i>最新考情</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=ABDE3ABA9F103A2EF03B4DA0FACBC1BD}">
                <div><i class="fas fa-caret-right"></i>課程介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=CD132C1EA4D5C219C5530CFB9DC9C361}">
                <div><i class="fas fa-caret-right"></i>常見Q&A</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a><!-- category-sub -->	
        </section><!-- category-sub-container -->

        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>國營/銀行複試</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/index?categoryId=141}">
                <div><i class="fas fa-caret-right"></i>最新招考消息</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=74A48E26280DD7F2F2F6AD678AAD0BCC}">
                <div><i class="fas fa-caret-right"></i>國營聯招</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=2EF5DD3EAF843CB18BBAA7BE389FFD26}">
                <div><i class="fas fa-caret-right"></i>公股銀行</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=05D09013CE85AF0D6E84C75A77AAEBD1}">
                <div><i class="fas fa-caret-right"></i>中華電信</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/newExam/inside?str=B79927823F1956AE1D5F494E8EE47410&print_id=6714&gclid=CjwKCAiA-_L9BRBQEiwA-bm5fnM2GPuN8MkjIutnb2M_rsfa4YTPz4bF4h5vzETt4FADm-SE-vHp8hoCVLwQAvD_BwE}">
                <div><i class="fas fa-caret-right"></i>課程介紹</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/winner/index}">
                <div><i class="fas fa-caret-right"></i>贏家經驗談</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
        </section><!-- category-sub-container -->     
        <a class="category" href="javascript:void(0);">
            <div><i class="fas fa-list-ul"></i></div>
            <div>關於甄戰</div>
            <div><i class="fas fa-angle-right"></i></div>
        </a><!-- category -->
        <section class="category-sub-container">
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/schoolBulletin/index}">
                <div><i class="fas fa-caret-right"></i>系統公告</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/location/index}">
                <div><i class="fas fa-caret-right"></i>服務據點</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" th:href="${@environment.getProperty('weburl')}+@{/lectures/index}">
                <div><i class="fas fa-caret-right"></i>近期活動</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" href="https://www.reallygood.com.tw/forecast/index">
                <div><i class="fas fa-caret-right"></i>落點網站</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
            <a class="category-sub" href="https://www.reallygood.com.tw/camp/index">
                <div><i class="fas fa-caret-right"></i>主題課程</div>
                <div><i class="fas fa-angle-right"></i></div>
            </a>
        </section><!-- category-sub-container -->     
    </section><!-- scroll-container -->
    
	</div>
	<!-- nav-mobile -->
	<!-- 20190625 end -->
	<script>
	//手機版
	function newExamMenuRwd() {
		$.ajax({
			url: "[[${@environment.getProperty('weburl')}]]/newExam/newExamMenu",
			cache: false,
			async: false,
			dataType: "json",
			type:"POST",
			data:{
			},
			error: function(xhr) {
				alert('Ajax request 發生錯誤');
			},
			success: function(data) {
				var str = "";
				$(".rwd_menu_03").empty();
				if(data != null && data.length > 0){
					for(i = 0 ; i < data.length; i++){
						var newExamCategory = data[i];
						str += "<a class='category-sub' style='cursor:pointer;' onclick='searchMenuCategory(\""+newExamCategory.id+"\",\"newExam\")'>";
						str +=  "<div><i class='fas fa-caret-right'></i>"+newExamCategory.name+"</div>";
						str +=  "<div><i class='fas fa-angle-right'></i></div>";
						str +=  "</a>";

					}
					$(".rwd_menu_03").append(str);
				}
			}
		});
	}

	//手機板
	function schoolBulletinMenuRwd() {
		$.ajax({
			url: "[[${@environment.getProperty('weburl')}]]/schoolBulletin/schoolBulletinMenu",
			cache: false,
			async: false,
			dataType: "json",
			type:"POST",
			data:{
			},
			error: function(xhr) {
				alert('Ajax request 發生錯誤');
			},
			success: function(data) {
				
				var str = "";
				$(".rwd_menu_01").empty();
				if(data != null && data.length > 0){
					for(i = 0 ; i < data.length; i++){
						var schoolBulletinCategory = data[i];
						str += "<a class='category-sub' style='cursor:pointer;' onclick='searchMenuCategory(\""+schoolBulletinCategory.id+"\",\"schoolBulletin\")'>";
						str +=  "<div><i class='fas fa-caret-right'></i>"+schoolBulletinCategory.name+"</div>";
						str +=  "<div><i class='fas fa-angle-right'></i></div>";
						str +=  "</a>";
					}
					
					$(".rwd_menu_01").append(str);
				}
			}
		});
	}
	
// 	var sshDasoPath = '[[${@environment.getProperty('sshDasoPath')}]]' ;
// 	function google_search() {
// 		location.href = sshDasoPath+"/search?keyword=" + $("#google_search").val();
// 	}
// 	function google_search_rwd() {
// 		location.href = sshDasoPath+"/search?keyword=" + $("#google_search_rwd").val();
// 	}
	
	</script>
</div>
<div th:fragment="page" style="display: inline-block;">
	<input type="hidden" id="pageNo" name="pageNo" th:value="${pageNo}">
	<input type="hidden" id="totalPage" name="totalPage"
		th:value="${totalPage}" /> <input type="hidden" id="pageCount"
		name="pageCount" th:value="${pageCount}" /> <input type="hidden"
		id="pageTotalCount" name="pageTotalCount" th:value="${pageTotalCount}" />
	<input type="hidden" id="leftStartPage" name="leftStartPage"
		th:value="${leftStartPage}" /> <input type="hidden" id="leftEndPage"
		name="leftEndPage" th:value="${leftEndPage}" /> <input type="hidden"
		id="rightStartPage" name="rightStartPage" th:value="${rightStartPage}" />
	<input type="hidden" id="rightEndPage" name="rightEndPage"
		th:value="${rightEndPage}" /> <input type="hidden" id="pageMaxNum"
		name="pageMaxNum" th:value="${pageMaxNum}" /> <input type="hidden"
		id="leftPageNum" name="leftPageNum" th:value="${leftPageNum}" /> <input
		type="hidden" id="rightPageNum" name="rightPageNum"
		th:value="${rightPageNum}" /> <span id="pageBox"> <th:block
			th:if="${pageTotalCount > pageCount}">

			<th:block th:if="${totalPage >= 1}">

				<th:block th:if="${pageNo == 1}">
				</th:block>
				<th:block th:unless="${pageNo == 1}">
					<input type="button" th:onclick="|pageChangeToAjax(${pageNo-1})|"
						value="<<">
				</th:block>
				<th:block th:if="${leftPageNum > 0}">
					<th:block
						th:each="leftPage : ${#numbers.sequence(leftStartPage, leftEndPage)}">
						<input type="button" th:onclick="|pageChangeToAjax(${leftPage})|"
							th:value="${leftPage}">
					</th:block>
				</th:block>

				<input class='sort_input_click' type="button" th:value="${pageNo}">

				<th:block th:if="${rightPageNum > 0}">
					<th:block
						th:each="rightPage : ${#numbers.sequence(rightStartPage, rightEndPage)}">
						<input type="button" th:onclick="|pageChangeToAjax(${rightPage})|"
							th:value="${rightPage}">
					</th:block>
				</th:block>

				<th:block th:if="${pageNo == totalPage}">
				</th:block>
				<th:block th:unless="${pageNo == totalPage}">
					<input type="button" th:onclick="|pageChangeToAjax(${pageNo+1})|"
						value=">>">
				</th:block>

			</th:block>

		</th:block> <th:block th:unless="${pageTotalCount > pageCount}">
			<input type="button" th:value="${totalPage}">
		</th:block>

	</span>
</div>
<div th:fragment="footer">
<div class="fb-customerchat"
attribution=setup_tool
page_id="194072317290788"
minimized="true"
greeting_dialog_display="hide">
</div>
	<div class="footer">
		<div class="footer_label"></div>
		<div class="link">

			<div class="link_01">
				<aside>關於我們</aside>
				<ul>
					<li><a th:href="${@environment.getProperty('weburl')}+@{/common/about}">關於甄戰</a></li>
					<li id="declare"><a href="javascript:;">反詐騙聲明</a></li>
					<li><a th:href="${@environment.getProperty('weburl')}+@{/common/disclaimer}">免責聲明</a></li>
					<li><a th:href="${@environment.getProperty('weburl')}+@{/common/harass}">性騷擾防治相關</a></li>
					<li><a th:href="${@environment.getProperty('weburl')}+@{/upload/excel/TKB_Complaint.pdf}" target="_blank">台灣知識庫申訴書</a></li>
					<li><a th:href="${@environment.getProperty('weburl')}+@{/upload/excel/Harassment_Complaint.pdf}" target="_blank">性騷擾事件申訴書</a></li>
					<li><a href="https://www.tkb.com.tw/contract.pdf" target="_blank">短期補習班服務契約書(消基會版本)</a></li>
					<li><a href="https://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=3f39426b435b3e55303139623353361a747494224336b3e2020202063373a2524290j02&jobsource=104_hotorder" target="_blant">人才招募</a></li>
				</ul>
			</div>
			<!-- link_01 -->

			<div class="link_02">
				<aside>優惠訊息</aside>
				<ul>
					<li id="low-income"><a href="javascript:void(0);">低收入戶優惠</a></li>
				</ul>
			</div>
			<!-- link_02 -->

			<div class="link_03">
				<aside>諮詢服務</aside>
				<ul>
					<li><a th:href="${@environment.getProperty('weburl')}+@{/common/consultation}">課程諮詢</a></li>
					<li><a th:href="${@environment.getProperty('weburl')}+@{/common/qa}">升學Q&A</a></li>
					<li><a th:href="${@environment.getProperty('weburl')}+@{/location/index}">甄戰電話與地址</a></li>
				</ul>
			</div>
			<!-- link_03 -->

			<div class="link_04">
				<aside>友站連結</aside>
	            <ul>
	                <li><a href="http://tkbreallygood.pixnet.net/blog" target="_blank">戰神-部落格</a></li>
	                <li><a href="https://www.facebook.com/reallygood.com.tw/" target="_blank">甄戰-粉絲團</a></li>
	                <li><a href="https://www.facebook.com/tkb.humanity" target="_blank">高中職升大-粉絲團</a></li>
	                <li><a href="https://www.facebook.com/tkb.learning.exploration" target="_blank">學習探索-粉絲團</a></li>
	                <li><a href="https://www.facebook.com/groups/257376967996254/?fref=ts" target="_blank">研究所甄試-粉絲團</a></li>
	                <li><a href="https://www.facebook.com/tkb.emba" target="_blank">在職專班-粉絲團</a></li>
	                <li><a href="http://realgood520.pixnet.net/blog" target="_blank">甄試服了你-部落格</a></li>
	                <li><a href="http://www.taso.org.tw/foundation/index.html" target="_blank">大碩青年關懷基金會</a></li>
	                <li><a href="https://www.reallygood.com.tw/camp/index" target="_blank">甄戰高中課程活動網站</a></li>
	                <li><a href="https://www.reallygood.com.tw/18groups/index" target="_blank">大學18學群生涯探索網</a></li>
	            </ul>
			</div>
			<!-- link_04 -->

			<div class="link_05 no_board">
				<aside>集團網站</aside>
				<ul>
					<li><a href="http://www.tkblearning.com.tw/">數位學堂</a></li>
					<li><a href="http://www.long-men.com.tw/">龍門轉學考</a></li>
					<li><a href="http://byone.tkb.com.tw/">百官網公職</a></li>
					<li><a href="http://www.ynso.com.tw/">洋碩美語</a></li>
					<li><a href="https://www.daso.com.tw/">大碩研究所</a></li>
					<li><a href="https://www.tkbsteam.com.tw">千碩機器人</a></li>
					<li><a href="http://www.tingmao.com.tw/">大碩教育</a></li>
				</ul>
			</div>
			<!-- link_05 -->

		</div>
		<!-- link -->
 		<div class="copyright">TKB甄戰學習顧問中心為回饋社會，凡清寒(領有縣市政府低收入戶證明書)、身障(中度以上)學子，一律五折優待，我們真心希望清寒學子也能享有同齡學子的夢想。<br />Copyright © TKB臺灣知識庫 All Rights Reserved.</div>
	</div>
	<!-- footer -->
</div>
<script>
		$(function() {

			pageChange = function(pageNo) {

				$("#pageNo").val(pageNo);
				var fr = $("#mainForm");
				fr.submit();

			}

		});
		
</script>
</html>