<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>精選文章-TKB甄戰學習顧問中心</title>
<link rel="shortcut icon" type="image/x-icon" th:href="${@environment.getProperty('static.url')}+@{/images/favicon_tkb.ico}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/front_style.css?v=20210705}" />	<!-- 電腦版 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<!-- 20190625 start -->
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/font-awesome.css}" />
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/slick-theme.css}" /> 
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/slick.css}" />
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/slides.css}" />
<link type="text/css" rel="stylesheet" th:href="${@environment.getProperty('static.url')}+@{/css/front/jquery.mCustomScrollbar.css}" />
<!-- 20190625 start -->
<!-- 20190625 end -->
<link th:insert="~{front/loadForOldPage/js :: common}">
<!-- Global site tag (gtag.js) - Google Ads: 957644279 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-957644279"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-957644279');
</script>
</head>
<body>
<div th:insert="~{front/loadForOldPage/layout :: menu_rwd}"></div>
<div class="wrapper">
	<!-- 20190625 start -->
	<div class="header-box">  
		<div th:insert="~{front/loadForOldPage/layout :: header}"></div>
		
		<div th:insert="~{front/loadForOldPage/layout :: menu}"></div>
	</div>

	<div class="content">
<h1>精選文章</h1>
<hr>
	<div class="sort">
		<form id="mainForm" method="post" enctype="multipart/form-data">
			<input type="hidden" id="id" name="newExam.id" />
			<input type="hidden" id="category" name="newExam.category"/>
			<input type="hidden" id="sort" />
			<input type="hidden" id="page_count" />
		</form>
		<form id="getForm" method="get" enctype="multipart/form-data">
			<input type="hidden" id="str" name="str"/>
		</form>
		<ul id="sort_region_menu">
				分類
				<li class="sort_click">
					<a th:onclick="|searchCategory('ALL', '1')|">全部</a>
				</li>
				<th:block th:each="category : ${chosenArticleCategoryList}">
					<th:block th:if="${category.use_count != 0}">
						<th:block th:if="${category.in_use == 1}">
							<li style="color:#D61518;" class="sort_click" th:text="${category.name}"></li>
						</th:block>
						<th:block th:else>
							<li th:onclick="'clickCategory(' + ${category.id} + ', 1)'" th:text="${category.name}"></li>
						</th:block>
					</th:block>
				</th:block>				
					
			</ul>

			<div class="sort_region">
				<th:block th:each="category : ${chosenArticleCategoryList}">
					<th:block th:if="${category.use_count != 0}">
						
						<ul th:attr="style=${category.in_use == 1} ? 'display: block;' : ''">
						    <th:block th:each="child : ${category.childList}">
								<th:block th:if="${child.use_count != 0}">
									<th:block th:if="${child.id == chosenArticle.article_category}">
										<li class="sort_region_click" th:text="${child.name}"></li>
									</th:block>
									<th:block th:else>
										<li th:onclick="'searchCategory(' + ${child.id} + ',2)'" th:text="${child.name}"></li>
									</th:block>
								</th:block>
							</th:block>
						</ul>
						
						
					</th:block>
				</th:block>				
			</div>
		
		
		
		
		
		
		
		
		
		<select id="searchPageCount" th:onchange="|searchPageCount('1')|">
			<option value="8">每頁8則</option>
			<option value="12">每頁12則</option>
		</select>
		
		<th:block th:insert="~{front/loadForOldPage/layout :: page}"></th:block>
		跳至第
		<select id="changePage" th:onchange="|changePage(this.value)|" th:value="${pageNo}">
			<option >[[${pageNo}]]</option>
		</select>頁
	</div>
	<div class="bulletin_list">
	</div>
</div><!-- content -->
	<div th:insert="~{front/loadForOldPage/layout :: footer}"></div>
	<script th:src="${@environment.getProperty('static.url')}+@{/js/front/advertising.js}"></script>	
	</div>
<!-- wrapper -->

<script>

$(function(){
	
	search = function(layer) {

		$.ajax({
			url: "[[${@environment.getProperty('weburl')}]]/chosenArticle/toSearch",
			cache: false,
			async: false,
			dataType: "json",
			type:"POST",
			data:{
				layer : layer,
				category_id : $("#category").val(),
				page_count : $("#page_count").val(),
				page_no : $("#pageNo").val(),
			},
			error: function(xhr) {
				alert('Ajax request 發生錯誤');
			},
			success: function(data) {
				
				var str = "";
				var pageStr = "";

				if(data.length>0){
					$("#pageTotalCount").val(data[0].pageTotalCount);
					$("#pageCount").val(data[0].pageCount);
					$("#totalPage").val(data[0].totalPage);
					
					$("#leftStartPage").val(data[0].leftStartPage);
					$("#leftEndPage").val(data[0].leftEndPage);
					$("#rightStartPage").val(data[0].rightStartPage);
					$("#rightEndPage").val(data[0].rightEndPage);
					$("#leftPageNum").val(data[0].leftPageNum);
					$("#rightPageNum").val(data[0].rightPageNum);
					if(parseInt($("#pageTotalCount").val()) > parseInt($("#pageCount").val())) {
						if(parseInt($("#totalPage").val()) > 1) {
							if(parseInt($("#pageNo").val()) == 1) {
								
							} else {
								str += "<input type='button' onclick='pageChangeToAjax("+(parseInt($("#pageNo").val())-1)+")' value='<<'>&nbsp;";
							}
							
							if(parseInt($("#leftPageNum").val()) > 0) {
								for(var i=parseInt($("#leftStartPage").val()); i<=parseInt($("#leftEndPage").val()); i++) {
									str += "<input type='button' onclick='pageChangeToAjax("+i+")' value='"+i+"'>&nbsp;";
								}
							}
							
							str += "<input type='button' class='sort_input_click' value='"+parseInt($("#pageNo").val())+"'>&nbsp;";
							
							if($("#rightPageNum").val() > 0) {
								for(var i=parseInt($("#rightStartPage").val()); i<=parseInt($("#rightEndPage").val()); i++) {
									str += "<input type='button' onclick='pageChangeToAjax("+i+")' value='"+i+"'>&nbsp;";
								}
							}
							
							if(parseInt($("#pageNo").val()) == parseInt($("#totalPage").val())) {
								
							} else {
								str += "<input type='button' onclick='pageChangeToAjax("+(parseInt($("#pageNo").val())+1)+")' value='>>'>&nbsp;";
							}

						}else{
							str += "<input type='button' value='1'>";
						}
						
					} else {
						str += "<input type='button' value='1'>";
					}
					
					for(var i=1; i<=parseInt($("#totalPage").val()); i++) {
						if(i == parseInt($("#pageNo").val())) {
							pageStr += "<option value='"+i+"' selected>"+i+"</option>";
						} else {
							pageStr += "<option value='"+i+"'>"+i+"</option>";
						}
					}
					
				}
				
				$("#pageBox").empty();
				$("#pageBox").append(str);
				
				$("#changePage").empty();
				$("#changePage").append(pageStr);
				
				
				$(".bulletin_list").empty();
				var str = "";
				if(data != null && data.length > 0){
					for(i = 0 ; i < data.length; i++){
						var chosenArticle = data[i];
						const dateTimeString =chosenArticle.create_date;
						const date = new Date(dateTimeString);
						const year = date.getFullYear();
						const month = String(date.getMonth() + 1).padStart(2, '0'); // 月份從0開始，需要加1，然後補0
						const day = String(date.getDate()).padStart(2, '0'); //補0以保證兩位數的日期
						const formattedDate = `${year}/${month}/${day}`;
						str += "<div class='examInfo' >";
						str += "<div class='bulletin_img'>";
						if(chosenArticle.product_category==null||chosenArticle.product_category==''){
							str += "<a href=/chosenArticle/inside?str=" + chosenArticle.encrypturl +"><img src='"+chosenArticle.image_url+"' width='180px' height='110px' /></a>";
						}else{
							str += "<a href=/chosenArticle/inside?str=" + chosenArticle.encrypturl +"&product_category="+chosenArticle.product_category+"><img src='"+chosenArticle.image_url+"' width='180px' height='110px' /></a>";
						}						
						str += "</div>";
						str += "<div class='bulletin_info'>";
						if(chosenArticle.product_category==null||chosenArticle.product_category==''){
							str += "<div class='bulletin_title'><a href=/chosenArticle/inside?str="+chosenArticle.encrypturl+">"+chosenArticle.title+"</a></div>";
						}else{
							str += "<div class='bulletin_title'><a href=/chosenArticle/inside?str="+chosenArticle.encrypturl+"&product_category="+chosenArticle.product_category+">"+chosenArticle.title+"</a></div>";
						}	
						str += "<div class='bulletin_date'>發文時間："+formattedDate+"</div>";
						str += "<div class='bulletin_type'>"+chosenArticle.parent_category_name+"|"+chosenArticle.category_name+"</div>";
						str += "<div class='bulletin_view'>"+chosenArticle.click_rate+"</div>";
						str += "</div>";
						str += "<div class='review'>";
						str += "<div class='review_text'>";
						str += "<span>精選文章</span>";
	 					str += "<div class='clear_float'></div>"+chosenArticle.summary+"</div>";
						str += "</div>";
						
						
						if(chosenArticle.product_category==null||chosenArticle.product_category==''){
							str += "<div class='review_text_more'><a href=/chosenArticle/inside?str=" + chosenArticle.encrypturl +">More &gt;</a></div>";
						}else{
							str += "<div class='review_text_more'><a href=/chosenArticle/inside?str=" + chosenArticle.encrypturl+"&product_category="+chosenArticle.product_category+">More &gt;</a></div>";
						}	
						
						str += "</div>";
						
					}
					$(".bulletin_list").append(str);

				}
			}
		});
	},
	
	
	searchCategory = function(id, layer) {
		if(id == "ALL") {
			$("#category").val('');
		} else {
			$("#category").val(id);
		}
		$("#pageNo").val("1");
		search(layer);
	},
	
	
	searchPageCount = function(layer) {
		$("#page_count").val($("#searchPageCount").val());
		$("#pageNo").val("1");
		search(layer);
	},
	
	
	changePage = function(pageNo) {
		$("#pageNo").val(pageNo);
		search("1");
	}
	
	search("1");
})

function pageChangeToAjax(pageNo){
	$("#pageNo").val(pageNo);
	search("1");
}

</script>
	
</body>
</html>