<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{admin/load/css :: layout}"></head>
<head th:insert="~{admin/load/js :: layout}"></head>
<script th:src="${@environment.getProperty('static.url')}+@{/js/baseUtil.js}"></script>
<meta charset="UTF-8">
<body>
<div class="container">
	<div th:insert="~{admin/load/layout :: top}"></div>
	<div class="main">
		<div th:insert="~{admin/load/layout :: menu}"></div>
<!-- content -->
	<div class="content">
		<form id="mainForm" method="POST" enctype="multipart/form-data" th:object="${schoolBulletinCategory}" th:with="btn_name=${schoolBulletinCategory.id == null ? '新增': '修改'}">
			<input type="hidden" id="id" th:field="*{id}" />
			<input type="hidden" id="parent_id" th:field="*{parent_id}" />
			<input type="hidden" id="parent_name" th:field="*{parent_name}" />
			<input type="hidden" id="layer" th:field="*{layer}" />
			<input type="hidden" id="category_name" name ="category_name" th:value="${schoolBulletinCategory.name}" />
			
<!-- 			<input type="hidden" name="menu.id" value="${menu.id}" /> -->
			<!-- table -->
			<table class="table-vertical" cellspacing="0">
				<caption><h2>[[${btn_name}]]頁面</h2></caption>
				<tr>
					<th>
						<span class="important">*</span>標題
					</th>
					<td>
						<input type="text" id="name" th:field="*{name}">
					</td>
				</tr>
				<tr>
					<th>
						<span class="important">*</span>排序
					</th>
					<td>
						<input type="text" id="sort" th:field="*{sort}">
					</td>
				</tr>
				<tr>
					<th>功能</th>
					<td class="table-button vertical-btn">
						<a href="index">返回</a>
						<a href="#" onclick="checkRepeat()">[[${btn_name}]]</a>
					</td>
				</tr>
			</table><!-- table -->
		</form>
	</div><!-- content -->
	<script>
		$(function(){
			
			add = function() {
				
				var link = $("#id").val() == 0 ? "addSubmit" : "updateSubmit";
				$("#mainForm").attr("action", link);
				$("#mainForm").submit();
			},
			
			checkRepeat = function() {
				
				$.ajax({
					url: "[[${@environment.getProperty('weburl')}]]/tkbrule/schoolBulletinCategory/checkRepeat",
					cache: false,
					async: false,
					dataType: 'text',
					type:'POST',
					data:{
						name : $("#name").val(),
						layer: $("#layer").val()
					},
					error: function(xhr) {
						alert('Ajax request 發生錯誤');
					},
					success: function(data) {
						if(data == "T" || ($("#category_name").val() == $("#name").val())) {
							//姓名判斷
							if($("#name").val() == "") {
								alert("請輸入名稱");
								return false;
							}
							//排序判斷
							if($("#sort").val() == "") {
								alert("請輸入排序");
								return false;
							}	
							add();
						} else {
							alert("此類別已建立過，請重新輸入。");
						}
					}
				});
				
			},
			
			backAction = function(link) {
				
				$("#mainForm").attr("action", link);
				$("#mainForm").submit();
				
			}
			
		});
	</script>
</body>
</html>