<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{admin/load/css :: layout}"></head>
<head th:insert="~{admin/load/js :: layout}"></head>
<meta charset="UTF-8">
<body>
<div class="container">
	<div th:insert="~{admin/load/layout :: top}"></div>
	<div class="main">
		<div th:insert="~{admin/load/layout :: menu}"></div>
<form id="main_form" method="POST" action="index" th:object="${schoolBulletinCategory}">
		<input type="hidden" th:field="*{parent_id}" />
		<input type="hidden" th:field="*{parent_name}" />
		<input type="hidden" th:field="*{layer}" />
	</form>
	<script>
		$(function(){
			$("#main_form").submit();
		})
	</script>
</body>
</html>