<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>百官網後台管理系統</title>
	<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/admin/reset.css}" />
	<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/admin/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/font-awesome/css/font-awesome.min.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="${@environment.getProperty('static.url')}+@{/images/front/byone.ico}" />
<!-- 	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" /> -->
	<link rel="stylesheet" th:href="${@environment.getProperty('static.url')}+@{/css/admin/jquery-ui.css}" />
</head>

</html>