<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>性騷擾防治相關-TKB甄戰學習顧問中心</title>
<meta name="description" content="大學學測個人申請,研究推甄甄試,研究所在職專班,高職升科大書審口試輔導專家" />
<meta name="keywords" content="推甄,大學甄選,甄試入學,申請入學,面試技巧,科大申請,備審資料,推薦入學" />
<link rel="shortcut icon" type="image/x-icon" th:href="${@environment.getProperty('static.url')}+@{/images/favicon_tkb.ico}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front_style.css}" />	<!-- 電腦版 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<!-- 20190625 start -->
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/font-awesome.css}" />
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
<link type="text/css" rel="stylesheet" th:href="${@environment.getProperty('static.url')}+@{/css/front/jquery.mCustomScrollbar.css}" />
<!-- 20190625 end -->
<link th:insert="~{front/loadForOldPage/js :: common}">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PCKKCNQ');</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Ads: 957644279 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-957644279"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-957644279');
</script>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8MHXSJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- 置頂按鈕 -->
<a class="btn-top" href="javascript:void(0);"><i class="fas fa-arrow-up"></i></a>
<!-- 收納按鈕 -->
<a class="btn-feature" href="javascript:void(0);"><i class="fas fa-ellipsis-h"></i></a>
<!-- 展開功能 -->
<!-- 課程諮詢按鈕 -->
<a class="btn-course" th:href="${@environment.getProperty('weburl')}+@{/common/consultation}" target="_blank">課程<br />諮詢</a>

<!-- 行動版 -->
<div th:insert="~{front/loadForOldPage/layout :: menu_rwd}"></div>

<div class="wrapper">

	<!-- 20190625 start -->
	<div class="header-box">  
		<div th:insert="~{front/loadForOldPage/layout :: header}"></div>
		
		<div th:insert="~{front/loadForOldPage/layout :: menu}"></div>
	</div>
	
        <div class="content">
        	<h1>性騷擾防治相關</h1>
            <hr>
        	<h2>台灣知識庫股份有限公司附設臺北市私立甄戰文理短期補習班</h2>
			            事業單位性騷擾防治措施、申訴及懲戒辦法<br />(符合性別工作平等法與性騷擾防治法)
			            <p><br />
			            一、本公司為提供所屬人員、求職者或受服務人員免於性騷擾之工作及受服務環境，並採取適當之預防、糾正、懲戒及處理措施，以維護當事人權益及隱私，特依性別工作平等法</p>
			            <p>　　第十三條第一項、勞動部頒布工作場所性騷擾防治措施申訴及懲戒辦法訂定準則及性騷擾防治法第七條第一項、第二項規定，訂定本辦法。</p>
			            <p>　　</p>
			            <p>二、本辦法適用於所屬人員、求職者或受服務人員遭遇前揭適用性別工作平等法或性騷擾防治法之性騷擾事件，但應適用性別平等教育法處理者，不適用本辦法。</p>
			            <p>　　</p>
			            <p>三、本辦法所稱之性騷擾，指當事人有下列情形之一者：</p>
			            <p>　　</p>
			            <p>　　(一)適用性別工作平等法：</p>
			            <p>　　</p>
			            <p>　　　　1、指所屬人員(含受僱者、派遣勞工、技術生及實習生)於執行職務時，任何人(含雇主、各級主管、員工、客戶…等)以性要求、具有性意味或性別歧視之言詞或行</p>
			            <p>　　　　　　為，對其造成敵意性、脅迫性或冒犯性之工作環境，致侵犯或干擾其人格尊嚴、人身自由或影響其工作表現。</p>
			            <p>　　</p>
			            <p>　　　　2、雇主對所屬人員(含受僱者、派遣勞工、技術生及實習生)或求職者為明示或暗示之性要求、具有性意味或性別歧視之言詞或行為，作為勞務契約成立、存續、變更或</p>
			            <p>　　　　　　分發、配置、報酬、考績、陞遷、降調、獎懲之交換條件。</p>
			            <p>　　</p>
			            <p>　　(二)適用性騷擾防治法：除性侵害犯罪以外(性侵害犯罪部分，除申訴程序外，準用本辦法相關規定)，對他人實施違反其意願而與性或性別有關之行為，且有下列情形之一者：</p>
			            <p>　　</p>
			            <p>　　　　1、以該他人順服或拒絕該行為，作為其獲得、喪失或減損與工作、教育、訓練、服務、計畫、活動有關權益之條件。</p>
			            <p>　　</p>
			            <p>　　　　2、以展示或播送文字、圖畫、聲音、影像或其他物品之方式，或以歧視、侮辱之言行，或以他法，而有損害他人人格尊嚴，或造成使人心生畏怖、感受敵意或冒犯之</p>
			            <p>　　　　　　情境，或不當影響其工作、教育、訓練、服務、計劃、活動或正常生活之進行。</p>
			            <p>　　</p>
			            <p>四、本公司應防治性騷擾之發生，消除工作或服務場所內源自於性或性別的敵意因素，以保護所屬人員、求職者及受服務人員不受性騷擾之威脅。如有性騷擾或疑似情事發生時，</p>
			            <p>　　應即檢討、改善防治措施。另針對所屬人員於非雇主所能支配、管理之工作場所工作者，雇主應為工作環境性騷擾風險類型辨識、提供必要防護措施，並事前詳為告知。</p>
			            <p>　　</p>
			            <p>五、本公司定期實施防治工作場所性騷擾之教育訓練，規劃性別平權及性騷擾防治課程，相關資訊及訓練計畫於下列顯著之處公告：EIP內部平台。</p>
			            <p>　　</p>
			            <p>六、本公司性騷擾申訴管道如下：(請明確列出專線、傳真號碼、專用信箱收件地址，並於工作及服務場所顯著之處公開揭示。)</p>
			            <p>　　</p>
			            <p>　　申訴專線電話：02-23315551 分機120</p>
			            <p>　　申訴專用傳真：02-23317416</p>
			            <p>　　申訴專用信箱或申訴電子信箱：hr@tkb.com.tw</p>
			            <p>　　專責處理人員姓名或單位名稱：人力資源部 專員</p>
			            <p>　　</p>
			            <p>七、本公司/於知悉有性騷擾之情形時，不論是否提出申訴，均將採取立即且有效之糾正及補救措施，並注意下列事項：</p>
			            <p>　　</p>
			            <p>　　(一) 保護被害人之權益及隱私。</p>
			            <p>　　(二) 對所屬場域空間安全之維護或改善。</p>
			            <p>　　(三) 其他防治及改善措施。</p>
			            <p>　　</p>
			            <p>八、性騷擾之申訴得以言詞或書面提出。以言詞為申訴者，受理之人員或單位應作成紀錄，經向申訴人朗讀或使閱覽，確認其內容無誤後，由其簽名或蓋章。</p>
			            <p>　　</p>
			            <p>　　申訴書應載明事項：</p>
			            <p>　　</p>
			            <p>　　　　(一)申訴人之姓名、性別、年齡、身分證統一編號或護照號碼、服務、工作或就學之單位及職稱、住所或居所、聯絡電話。</p>
			            <p>　　　　(二)有法定代理人者，其姓名、性別、年齡、身分證統一編號或護照號碼、職業、住所或居所、聯絡電話。</p>
			            <p>　　　　(三)有委任代理人者，應檢附委任書，並載明其姓名、性別、年齡、身分證統一編號或護照號碼、職業、住所或居所、聯絡電話。</p>
			            <p>　　　　(四)申訴之事實內容及可取得之相關證據。</p>
			            <p>　　　　(五)申訴之年月日。</p>
			            <p>　　</p>
			            <p>　　適用性騷擾防治法事件之申訴，申訴書或言詞作成之紀錄不合前項規定，而其情形可補正者，應通知申訴人於14日內補正。本公司依性別工作平等法之工作場所性騷擾預防、</p>
			            <p>　　糾正及補救義務，不因申訴不受理而受影響。</p>
			            <p>　　</p>
			            <p>九、適用性騷擾防治法事件之申訴，其申訴書或言詞作成之紀錄，未於前條第三項所定期限內補正者，應不予受理。</p>
			            <p>　　</p>
			            <p>　　前項不予受理之性騷擾事件，應於申訴或移送到達20日內以書面通知當事人，並副知臺北市政府社會局。</p>
			            <p>　　</p>
			            <p>　　同一性騷擾事件已經依性別工作平等法或性騷擾防治法調查(含申復)完畢，並將調查結果函復當事人者，不得就同一事由再提申訴。</p>
			            <p>　　</p>
			            <p>十、本公司雖非行為人所屬單位，於接獲本辦法第三條第(二)款之性騷擾申訴書時，仍應採取適當之緊急處理，並應於7日內將申訴書及相關資料移送臺北市政府社會局。</p>
			            <p>　　</p>
			            <p>十一、本公司設置性騷擾申訴處理委員會，由勞資雙方代表共同組成負責處理性騷擾申訴案件。申訴處理委員會置主任委員一名，並為會議主席，主席因故無法主持會議時，</p>
			            <p>　　　得另指定其他委員代理之；置委員5人，本委員會之女性代表不得低於二分之一，單一性別不得少於三分之一，並視需要聘請專家學者擔任委員。</p>
			            <p>　　</p>
			            <p>十二、針對適用性別工作平等法之派遣勞工如於執行勤務時遭受性騷擾事件，本公司將受理申訴，並與派遣事業單位共同調查，且將調查結果通知派遣事業單位及當事人。</p>
			            <p>　　</p>
			            <p>十三、性騷擾申訴處理委員會作成決議前，得由申訴人或其授權代理人以書面撤回其申訴；申訴經撤回者，不得就同一事由再為申訴。</p>
			            <p>　　</p>
			            <p>前項情形於性騷擾防治法事件之申訴，除經主管機關調解成立且撤回申訴者外，不在此限。</p>
			            <p>　　</p>
			            <p>十四、性騷擾申訴處理委員會應有委員半數以上出席始得開會，並應有半數以上之出席委員之同意始得做成決議。</p>
			            <p>　　</p>
			            <p>十五、參與性騷擾事件之處理、調查及決議人員，應對於知悉之申訴事件內容應予保密。違反者，主任委員終止其參與，本公司並得視其情節依相關規定予以懲處及追究相關</p>
			            <p>　　　責任，並解除其聘任。</p>
			            <p>　　</p>
			            <p>十六、性騷擾事件之處理，有下列情形之一者，處理、調查與決議人員應自行迴避︰</p>
			            <p>　　</p>
			            <p>　　(一) 本人或其配偶、前配偶、四親等內之血親或三親等內之姻親或曾有此關係者為事件之當事人時。</p>
			            <p>　　(二) 本人或其配偶、前配偶就該事件與當事人有共同權利人或共同義務人之關係者。</p>
			            <p>　　(三) 現為或曾為該事件當事人之代理人、輔佐人者。</p>
			            <p>　　(四) 於該事件，曾為證人、鑑定人者。</p>
			            <p>　　</p>
			            <p>　　性騷擾事件申訴之處理、調查與決議人員有下列情形之一者，當事人得申請迴避︰</p>
			            <p>　　</p>
			            <p>　　(一) 有前項所定之情形而不自行迴避者。</p>
			            <p>　　(二) 有具體事實，足認其執行調查有偏頗之虞者。</p>
			            <p>　　</p>
			            <p>　　前項申請，應舉其原因及事實，向性騷擾申訴處理委員會為之，並應為適當之釋明；被申請迴避之調查人員，對於該申請得提出意見書。</p>
			            <p>　　</p>
			            <p>　　被申請迴避之調查人員在性騷擾申訴處理委員會就該申請事件為准駁前，應停止調查工作。但有急迫情形，仍應為必要處置。</p>
			            <p>　　</p>
			            <p>　　處理、調查與決議人員有第一項所定情形不自行迴避，而未經當事人申請迴避者，應由該性騷擾申訴處理委員會命其迴避。</p>
			            <p>　　</p>
			            <p>十七、本公司/性騷擾申訴處理委員會調查性騷擾事件時，應依照下列調查原則為之：</p>
			            <p>　　</p>
			            <p>　　(一) 性騷擾事件之調查，應以不公開之方式為之，並保護當事人之隱私及人格法益。</p>
			            <p>　　(二) 性騷擾事件之調查應秉持客觀、公正、專業原則，給予當事人充分陳述意見及答辯之機會。</p>
			            <p>　　(三) 被害人之陳述明確，已無詢問必要者，應避免重複詢問。</p>
			            <p>　　(四) 性騷擾事件之調查，得通知當事人及關係人到場說明，並得邀請相關學識經驗者協助。</p>
			            <p>　　(五) 性騷擾事件之處理，應避免當事人或證人對質。</p>
			            <p>　　(六) 調查人員因調查之必要，得於不違反保密義務範圍內另作成書面資料，交由當事人閱覽或告以要旨。</p>
			            <p>　　(七) 處理性騷擾事件之所有人員，對於當事人之姓名或其他足以辨識身份之資料，除有調查必要或基於公共安全之考量者外，應予保密。</p>
			            <p>　　(八) 性騷擾事件調查過程中，得視當事人之身心狀況，主動轉介或提供心理輔導及醫療與法律協助。</p>
			            <p>　　(九) 對於在性騷擾事件申訴、調查、偵察或審理程序中，為申訴、告訴、告發、提起訴訟、作證、提供協助或其他參與行為之人，不得為不當之差別待遇。</p>
			            <p>　　</p>
			            <p>十八、申訴處理委員會應於申訴提出或移送申訴案件到達之日起7日內開始調查，並於2個月內結案；必要時，得延長1個月，並通知當事人。</p>
			            <p>　　</p>
			            <p>十九、申訴處理委員會之調查結果，應作成附理由之決議，並得作成懲戒或其他處理之建議。該調查決議應以書面通知當事人及本公司/機構/機關〔若為本辦法第三條第(二)款之</p>
			            <p>　　　性騷擾事件，調查決議應併送臺北市政府社會局〕，並註明對申訴案之決議有異議者，依下列法令得提出之救濟途徑。</p>
			            <p>　　</p>
			            <p>　　(一)性別工作平等法之申復機制：</p>
			            <p>　　</p>
			            <p>　　　　1、於調查決議送達當事人之次日起20日內向原申訴處理委員會提出申復。但申復之事由發生或知悉在後者，自知悉時起算。</p>
			            <p>　　</p>
			            <p>　　　　2、提出申復應附具書面理由，由申訴處理委員會另召開會議決議處理之。經結案後，不得就同一事由，再提出申訴。</p>
			            <p>　　</p>
			            <p>　　(二)性騷擾防治法之再申訴機制：於收受調查決議之次日起30日內向臺北市政府社會局提出再申訴。</p>
			            <p>　　</p>
			            <p>二十、性騷擾行為經調查屬實者，本公司/機構/機關得視情節輕重，對受僱之行為人依工作規則等相關規定為調職、降職、減薪、懲戒或其他處理。如涉及刑事責任時，</p>
			            <p>　　　本公司/機構/機關並應協助申訴人提出告訴或告發。性騷擾行為經證實為誣告者，本公司/機構/機關得視情節輕重，對申訴人依工作規則等相關規定為懲戒或處理。</p>
			            <p>　　</p>
			            <p>二十一、本公司/機構/機關對性騷擾事件之決議及處理應採取追蹤、考核及監督，以確保懲戒或處理措施有效執行，並避免相同事件或報復情事發生。</p>
			            <p>　　</p>
			            <p>二十二、本公司/機構/機關不會因所屬人員提出本辦法所訂之申訴或協助他人申訴，而予以解僱、調職或其他不利處分。</p>
			            <p>　　</p>
			            <p>二十三、本辦法公佈後實施，修訂時亦同。</p>
			           <p>　　</p><br /> 
             <h2>適用單位：</h2>
             <p>台灣知識庫股份有限公司附設臺北市私立甄戰文理短期補習班</p> 
        </div><!-- content -->  
        
       	<div th:insert="~{front/loadForOldPage/layout :: footer}"></div>
		<script th:src="${@environment.getProperty('static.url')}+@{/js/facebook_Adjust.js}"></script>	
</div>
<!-- wrapper -->
</body>
</html>
