<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://byone.tkb.com.tw/js/jquery-2.1.4.min.js"></script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WLSDNHH"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLSDNHH');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Ads: 957644279 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-957644279"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        gtag('js', new Date());
        gtag('config', 'AW-957644279', {'allow_enhanced_conversions':true});
        gtag('event', 'conversion', {'send_to': 'AW-957644279/q6zECOOR0e0CEPf70cgD'});
        /*]]>*/
    </script>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLSDNHH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function(){
            alert("送出成功，將轉跳回原來頁面");
            var oldURL = document.referrer;
            setTimeout(function(){document.location.href = oldURL; }, 1000);
        });
        /*]]>*/
    </script>
</body>
</html>
