<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>大學學測個人申請口面試題-TKB甄戰學習顧問中心所</title>
<meta name="description" content="大學學測個人申請口面試題,考古題練習,歷屆口試試題,面試常見問題"/>
<link rel="shortcut icon" type="image/x-icon" th:href="${@environment.getProperty('static.url')}+@{/images/front/favicon1.ico}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/front_style.css}" />	<!-- 電腦版 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<!-- 20190625 start -->
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/font-awesome.css}" />
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
<link type="text/css" rel="stylesheet" th:href="${@environment.getProperty('static.url')}+@{/css/front/jquery.mCustomScrollbar.css}" />
<link type="text/css" rel="stylesheet" th:href="${@environment.getProperty('static.url')}+@{/css/front/slides.css}" />
<!-- 20190625 end -->
<link th:insert="~{front/loadForOldPage/js :: common}">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PCKKCNQ');</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Ads: 957644279 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-957644279"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-957644279');
</script>
</head>
<body>
<div th:insert="~{front/loadForOldPage/layout :: menu_rwd}"></div>
<div class="goTop"></div>
<div class="wrapper">
	<div class="header-box">
		<div th:insert="~{front/loadForOldPage/layout :: header}"></div>
		<div th:insert="~{front/loadForOldPage/layout :: menu}"></div>
	</div>
	 <div class="content">
        
        	<div class="ad">
							<div><a href="https://www.facebook.com/tkb.learning.exploration" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/ad/FBbanner01.jpg}" /></a></div>
							<div><a href="https://www.facebook.com/tkb.humanity" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/ad/FBbanner02.jpg}" /></a></div>
							<div><a href="https://www.facebook.com/groups/257376967996254/?fref=ts" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/ad/FBbanner03.jpg}" /></a></div>				
				<div class="metaBox"></div>
            </div><!-- ad -->
            
            <div class="main_area">
                <h1>考古題試閱</h1>
                <div class="back"><a href="/index">回上頁</a></div>
                <hr>
                <div class="qa">
                    <div id="qaContent">
                        <ul class="accordionPart">
                            <!--qa_01-->
                            <li>
                                <div class="qa_title senior_exam_title">法政學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>對於最近政策的推動，你對何者最有興趣？如果你是政府官員你要怎麼作？</li>
                                        <li>你對官商勾結的看法？</li>
                                        <li>請比較台北市與台中市的地價。</li>
                                        <li>談談最近國內外政經大事的看法。</li>
                                        <li>你對兩岸關係的看法？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_02-->
                            <li>
                                <div class="qa_title senior_exam_title">管理學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>請說明一個國家或一個企業的運作方式。</li>
                                        <li>請挑選出自己喜歡的一位企業家，並說明原因？</li>
                                        <li>如何留住台商在台發展，不往海外設廠？</li>
                                        <li>你希望在公營企業或民營企業服務？</li>
                                        <li>你對管理的看法？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_03-->
                            <li>
                                <div class="qa_title senior_exam_title">財經學群</div>
                                <div class="qa_content">
                                    <ol>                                       
                                        <li>會計在生活中要如何應用？</li>
                                        <li>你對「無奸不成商」此話的看法？</li>
                                        <li>如何決定市場價格？</li>
                                        <li>對於油價上漲妳的看法？</li>
                                        <li>數學在財務金融當中扮演什麼角色？經濟和財務金融的差別？</li>   
                                    </ol>
                                </div>
                            </li>
                            <!--qa_04-->
                            <li>
                                <div class="qa_title senior_exam_title">建築設計學群</div>
                                <div class="qa_content">
                                    <ol>  
                                        <li>室內設計和室外設計的不同。</li>
                                        <li>試述台灣建築的特色。</li>
                                        <li>平常有無注意廣告或包裝設計？</li>
                                        <li>念這個系很累的，你有沒有意志力？</li>
                                        <li>大眾購買服飾時會考慮的因素有哪些？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_05-->
                            <li>
                                <div class="qa_title senior_exam_title">社會心理學群</div>
                                <div class="qa_content">
                                    <ol>  
                                        <li>民族問題和社會問題有何關連？</li>
                                        <li>針對社會貧富不均的問題，你有什麼看法與建議？</li>
                                        <li>針對「校園霸凌」，你的看法如何？</li>
                                        <li>你要怎麼幫助病人？</li>
                                        <li>心理學裡，你對哪方面的課程比較感興趣？為什麼？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_06-->
                            <li>
                                <div class="qa_title senior_exam_title">大眾傳播學群</div>
                                <div class="qa_content">
                                    <ol>  
                                        <li>你認為光線和構圖哪個重要？</li>
                                        <li>試述廣告未來的發展。</li>
                                        <li>你認為設計、傳播和溝通有何關係？</li>
                                        <li>美學設計如何與實用結合？</li>
                                        <li>你看報會先從哪個部分看起？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_07-->
                            <li>
                                <div class="qa_title senior_exam_title">外語學派</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>Do you have any special experience in the senior high school？</li>
                                        <li>有沒有看過日本文學作品拍成的電影？</li>
                                        <li>在大學中要如何學好德文？</li>
                                        <li>最近西班牙有什麼大事嗎？</li>
                                        <li>你對韓國現況的了解？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_08-->
                            <li>
                                <div class="qa_title senior_exam_title">文史哲學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>歷史是「偶然發生的事件」或「因果關係的累積」？</li>
                                        <li>你喜歡哪一位哲學家？其中心思想？</li>
                                        <li>你認為好的文學作品應具備何種條件？</li>
                                        <li>外界認為讀中文系將來難找工作，你的看法為何？</li>
                                        <li>除了原住民，有什麼可以代表台灣？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_09-->
                            <li>
                                <div class="qa_title senior_exam_title">教育學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>少子化社會，為何還想進入本校系就讀？</li>
                                        <li>請談談高中生涯遇到哪些最不愉快的事情？</li>
                                        <li>請說出最近讓你感觸最深刻的教育新聞，並聊聊你的看法。</li>
                                        <li>試述多媒體的發展趨勢。</li>
                                        <li>智慧型手機流行，你認為對於教育學習，會有什麼影響？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_10-->
                            <li>
                                <div class="qa_title senior_exam_title">資訊學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>有無程式設計或組裝電腦的經驗？</li>
                                        <li>請比較電腦語言和人的語言相異處？</li>
                                        <li>對於電腦軟體及硬體的概念？</li>
                                        <li>什麼叫「資訊管理」？和資訊科學的哪裡不同？</li>
                                        <li>資管和資工有何不同？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_11-->
                            <li>
                                <div class="qa_title senior_exam_title">工程學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>火力、水力太陽能的發電原理及對環境的影響。</li>
                                        <li>電磁波、電場、磁場的方向關係。</li>
                                        <li>請敘述伽利略、克卜勒以及牛頓的關係？</li>
                                        <li>請解釋光的繞射與干涉？</li>
                                        <li>直升機的飛行原理為何？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_12-->
                            <li>
                                <div class="qa_title senior_exam_title">數理化學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>水的PH 值是不是1 ？為什麼？</li>
                                        <li>何謂導函數？</li>
                                        <li>在日常生活中應用到的物理原理？腳踏車在動時為何叫靜止時不易翻倒？</li>
                                        <li>什麼叫「潛水夫病」？</li>
                                        <li>有種布鞋可自動分解，其原理為何？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_13-->
                            <li>
                                <div class="qa_title senior_exam_title">醫藥衛生學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>複製的機制為何？</li>
                                        <li>哪些人對台灣蛇毒研究貢獻厥偉？</li>
                                        <li>何謂「專利藥」與「學名藥」？</li>
                                        <li>目前台灣的醫病關係如何？</li>
                                        <li>對於護理人員的長期缺乏，你有何看法？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_14-->
                            <li>
                                <div class="qa_title senior_exam_title">地球環境學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>為什麼颱風來襲時，飛機的國內線會停飛，而國際線則不受影響，照常飛行？</li>
                                        <li>舉例說明牛頓三大運動定律。</li>
                                        <li>地理對社會有何貢獻？</li>
                                        <li>坐火車從南到北，你發現有何景觀變化？</li>
                                        <li>試述府上附近的城鄉關係和發展。</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_15-->
                            <li>
                                <div class="qa_title senior_exam_title">生物資源學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>你對未來農業的看法？</li>
                                        <li>就你瞭解，海洋生物可進行哪方面的研究？</li>
                                        <li>對於松線蟲有沒有什麼防治方法？</li>
                                        <li>試述蘭花生長的環境。</li>
                                        <li>海水如何調節氣候？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_16-->
                            <li>
                                <div class="qa_title senior_exam_title">生命科學學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>請畫一個細胞並講解。</li>
                                        <li>瘦肉精對人的影響？</li>
                                        <li>由外而內敘述動物細胞。</li>
                                        <li>胺基酸是什麼物質的基本構造？</li>
                                        <li>植物如何吸收水分？</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_17-->
                            <li>
                                <div class="qa_title senior_exam_title">遊憩運動學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>請列舉休閒產業的範圍。</li>
                                        <li>請跟我們談一談網球比賽的規則。</li>
                                        <li>韓劇為韓國帶來巨大的觀光效益，你覺得台灣可以如何效法？</li>
                                        <li>休閒的定義。</li>
                                        <li>請列舉觀光產業的範圍。</li>
                                    </ol>
                                </div>
                            </li>
                            <!--qa_18-->
                            <li>
                                <div class="qa_title senior_exam_title">藝術學群</div>
                                <div class="qa_content">
                                    <ol>
                                        <li>何謂美學經濟？</li>
                                        <li>何謂藝術即生活，生活即藝術？</li>
                                        <li>對術科演奏曲子了解的程度？</li>
                                        <li>「喜、怒、哀、樂」請以肢體語言表現？</li>
                                        <li>現代的社會動盪，試舉兩例說明藝術對生活、社會的關係？</li>
                                    </ol>
                                </div>
                            </li>                            
                        </ul>
                    </div><!-- qaContent -->
                </div><!-- qa -->
            </div><!-- main_area -->

        </div><!-- content --> 
	<div th:insert="~{front/loadForOldPage/layout :: footer}"></div>	
	<script th:src="${@environment.getProperty('static.url')}+@{/js/facebook_Adjust.js}"></script>	
</div><!-- wrapper -->
</body>
</html>