<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>常見問題-TKB甄戰學習顧問中心</title>
<meta name="description" content="大學學測個人申請,研究推甄甄試,研究所在職專班,高職升科大書審口試輔導專家" />
<meta name="keywords" content="推甄,大學甄選,甄試入學,申請入學,面試技巧,科大申請,備審資料,推薦入學" />
<link rel="shortcut icon" type="image/x-icon" th:href="${@environment.getProperty('static.url')}+@{/images/favicon_tkb.ico}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front_style.css}" />	<!-- 電腦版 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<!-- 20190625 start -->
<link rel="stylesheet" type="text/css" th:href="${@environment.getProperty('static.url')}+@{/css/front/font-awesome.css}" />
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
<link type="text/css" rel="stylesheet" th:href="${@environment.getProperty('static.url')}+@{/css/front/jquery.mCustomScrollbar.css}" />
<link type="text/css" rel="stylesheet" th:href="${@environment.getProperty('static.url')}+@{/css/front/slides.css}" />
<!-- 20190625 end -->
<link th:insert="~{front/loadForOldPage/js :: common}">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PCKKCNQ');</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Ads: 957644279 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-957644279"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-957644279');
</script>
</head>
<body>
<div th:insert="~{front/loadForOldPage/layout :: menu_rwd}"></div>
<div class="goTop"></div>
<div class="wrapper">
	<div class="header-box">
		<div th:insert="~{front/loadForOldPage/layout :: header}"></div>
		<div th:insert="~{front/loadForOldPage/layout :: menu}"></div>
	</div>
	 <div class="content">
        
        	<div class="ad">
							<div><a href="https://www.facebook.com/tkb.learning.exploration" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/ad/FBbanner01.jpg}" /></a></div>
							<div><a href="https://www.facebook.com/tkb.humanity" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/ad/FBbanner02.jpg}" /></a></div>
							<div><a href="https://www.facebook.com/groups/257376967996254/?fref=ts" target="_blank"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/ad/FBbanner03.jpg}" /></a></div>				
				<div class="metaBox"></div>
            </div><!-- ad -->
            
            <div class="main_area">
                <div class="back"><a href="/index">回上頁</a></div>
                <h1>書審資料撰寫範例</h1>
                <hr>
                
                <div class="tabs">
                    <ul>
                        <li>政治系書審範例</li>
                        <li style="list-style:none">財經系書審範例</li>
                    </ul>
                </div><!-- tabs -->
    
                <div class="tab_container">
               		<div class="release">撰稿人：臺北甄戰學習顧問中心 衛彬老師</div>
                    <div class="article_type01">簡歷</div>
                    <div class="poster"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/senior_review/senior_review_01.jpg}" ></div>
                    <div class="article_type01">自傳</div>
					<span>一、「人生有夢 築夢踏實」</span>
                    <div class="article">在高中，我的公民老師─小K老師，是一位政治系出身的公民老師，也是辯論社指導老師。在課堂上，他除了帶領我們認識國家政治、經濟與社會運作與問題，也時常扔出許多議題讓我們腦力激盪、培養思考能力。在這種訓練之下，我逐漸學會了邏輯思考能力，也開始在老師忙不過來之際，為同學解惑。在他的帶領下，我對政治學產生興趣，開始參加相關活動，期望未來能投身政治運作，改變社會。我相信，進入政治系正是築夢踏實的第一步。</div>
                    <div class="poster"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/senior_review/senior_review_02.jpg}" ></div>
                    <span>二、志向的源起─參加辯論社</span>
                    <div class="article">在老師的推薦下，我在高一時參加本校辯論社。在辯論社的辯題探討中，我開始較深入的接觸社會各種議題。例如探討「通姦罪是否應廢除」時，我們發現通姦罪對於女性是多麼不公；當討論「死刑是否廢除」時，除了討論憲法所賦予的生命權是否可被剝奪外，同時了解到冤案讓嫌疑犯深受其害，也讓我思考：法律難道是一切約束的根源嗎？社會問題難道只能用法條解決嗎？很多問題之根源不在法律，人們除了被被動的管制外，更需要與時俱進，去探討改革的方向與可能性，從多方面去分析以及思考整合。<br />政治系即是一個學習切入各角度統合問題的校系，自那一刻 我立志投身政治 為社會構築藍圖！</div>
                    <span>三、社團與幹部的領導經驗</span>
                    <div class="article">雖然我們是一個甫成立的新社團，但也曾打入舍我盃前16強。辯論。不斷的練習整合資訊和辯友訓練在攻防中框住對方的論點進而拆解，培養了我的邏輯能力，擅於演說的我常擔任結辯，結合論點與證據，作出有力的結尾。<br />在高二，我接任辯論社社長一職，除了辯論比賽外也必須招收新血與訓練隊員。社團中同學間意見相左是常有的事，因論點不同引發口角也是家常便飯，但只有團結才能獲勝，身為社長，必須承擔領導與指揮的責任，分配讓每個人去作擅長的工作，並以身作則，才能善盡社長的責任。在高二擔任社長的這一年，除了成功的招收到許多新血外，也與許多其他高中、大學辯論社成員結下良好的友誼，還在多場校際辯論賽中擔任評審。這些經驗都使我更近一步成長，使我了解自己還有很大的努力空間，一步步往目標邁進。<br />除了社團，在班上我也曾擔任副班長、學藝股長與輔導股長等幹部。班級的運作就如同一個小社會。除了班級運作，幹部也必須帶領同學參加各種大大小小的活動。例如在擔任學藝股長時，學生會舉辦了書包設計大賽，我與兩位同學組成團隊參賽，以班級的口號「散沙精神」作為發想，一粒粒的沙子只要經過適當的黏著，就可以發揮無限的創意，我們以沙畫為意象創作出四位不同造型、性別的學生，代表學校的作用，成功的獲得第2名。</div>
					<span>四、課程與志工的省思</span>
                    <div class="article">在高一暑假，我參加了海外國際志工團，去柬埔寨擔任志工，在柬埔寨的小學教導孩子們英文課程。在活動中，我們有幸與當地老師進行座談討論，了解柬埔寨的兒童問題，包括童工、貧窮與戰爭等等都是柬埔寨兒童頭上的利劍，更讓我了解改變制度未必就能解決問題，只憑一道法律或命令是無法改善，而是必須從根本做起，一步步的改變小孩、青年與成年人的思想，重新建立起新的認知，才能完成，這也正是教育的工作。<br />高二參加中興大學「法律課程」。在課程中除了聆聽眾法官的課程，藉由教授課程進行社會議題思考以及省思其對社會的貢獻，每次探討都讓我對社會議題增添更多興趣，也有進行「假案偵查」的挑戰，藉虛構故事進行訪查，變身為名偵探柯南憑著少許線索一步步找尋答案。做為小隊長與成員踏入膠著的案情，試著用自己的邏輯解開謎題，最後成為全體唯一解開答案的隊伍，並依照證據起訴嫌疑犯。這次的經驗不僅培養領袖以及整合能力，更是讓我對社會議題有了更多了解與認知，加深了未來想從事解決社會問題的工作的渴望，也是我決心投入政治系的一大動機。藉由參與這些活動，使我下定決心：我不能只是一位學會理論的政治人，而是該成為一名靈活運用政治所學之人。<br />我明白，政治不只隨口說說，不是因為眾人撻伐而勉強去探討，對於政治那顆熾熱渴望了解的心益發炙熱，我愛政治，所以，我不怕面對未來的任何挑戰！</div>
                    <div class="article_type01">讀書計劃</div>
					<span>申請動機</span>
                    <div class="poster"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/senior_review/senior_review_03.jpg}" ></div>
					<span>學習規劃</span>
                    <div class="poster"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/senior_review/senior_review_04.jpg}" ></div>
                    <div class="poster"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/senior_review/senior_review_05.jpg}" ></div>
					<span>未來展望</span>
                    <div class="article">未來，我希望能藉由進入NGO，推動政策制定來改變世界。因此，我期望在大學除了學習政治、國際關係與行政相關知識外，也可以至國內知名NGO如兒童福利組織實習，並在畢業後投入國際人權相關機構，並爭取成為專案經理，期望能以自己的力量組織、領導夥伴一起完成任務目標，提升國際人權，最終希望能在國內成立一個關注國際人權議題的NGO，並使世界更認識臺灣。</div>
                    <div class="poster"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/senior_review/senior_review_06.png}" ></div>
                    <div class="clear_float"></div>
                </div><!-- tab_container -->
    
                <div class="tab_container">
                    <div class="release">撰稿人：臺北甄戰學習顧問中心 文淵老師</div>
                    <div class="article_type01">簡歷</div>
                    <div class="poster"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/senior_review/senior_review_07.jpg}" ></div>
                    <div class="article_type01">自傳</div>
					<span>生活實例的運用，通曉理論之捷徑</span>
                    <div class="article">自己對於公民第4冊「經濟與生活」的內容相當感興趣，發現經濟學是了解人類社會現象的一門重要學科，因此自己學習經濟學的方法是以生活內容著手。例如自己非常喜歡吃摩斯漢堡，進而比較摩斯漢堡與漢堡王之間的不同來認識產品差異化，「同樣內容物的漢堡，一個出自摩斯漢堡標榜清爽健康、一個出自漢堡王強調多樣滋味，我就會想買前者」。這樣將時事流行與日常生活結合的觀察，進而套用在經濟學領域的學習方式，確實提升自己對經濟學的好感與學習慾望。另外，自己在擔任公民小老師期間，協助班上同學了解課程內容，由於需要反覆講述，所以不僅加深自己對基礎知識和經濟學的學習印象，同時也訓練自己的論述能力得以條理分明，讓知識的傳遞與分享更有效率。</div>
					<span>理財社團中洗禮，業界實務親體驗</span>
                    <div class="article">在參與理財社團期間曾到過金融控股公司參訪，主要領域是企業金融部門，當時帶著我們參訪的周大哥是ARM(企金助理)，主要工作是維護客戶關係、協助經理進行融資授信的報告撰寫。在企業金融部門的工作內容相當龐雜，舉凡產業趨勢前景的了解、國際經濟局勢的預測，還有該公司財務報表的解讀等等，都對於銀行貸放出去的資金是否能做有效的風險控管相當重要。<br />周大哥分享自己在擔任ARM時，大部分的工作在於庶務作業程序進行新產品研發專案，以及產品與信用風險評估。目前工作職權主要是執行面非決策面，必須具備溝通協調的能力才能與其他部門合作密切。周大哥也提到每位ARM的經歷可能完全不同，有的會碰觸大量的衍生性金融商品，例如期貨與選擇權；有的則是有機會處理跨銀行的專案，例如銀行團聯貸案。周大哥也提醒未來要就讀財經學群與從事金融業工作的同學，大學階段務必學習好外語，最好是有第二外語，可提升自己的競爭力。因此自己規劃在大學階段會進行西班牙語和越南語的學習，使自己能有多元面向的發展。</div>
                    <div class="article_type01">讀書計劃</div>
					<span>申請動機</span>
                    <div class="article">財務金融學系強調在解決人類商業行為問題時需具備全方位的解讀能力，而這層次的展望吸引了我，因為我平常就喜歡閱讀《天下》與《遠見雜誌》，來了解世界產業脈動與經濟趨勢。自己希冀能透過財務金融學系課程培養「公司理財」與「證券投資」兩方面的知識，同時也能符合自己未來欲前往金融產業工作的職場發展目標。<br />自己在貴校所舉辦的財金之夜中認識了大學多采多姿的生活，並從大一大二學長姐的分享中了解到大學給與同學相當大的自主性，舉凡課程安排，從各學院開設的課程中挑選出自己感興趣的學門，同時也鼓勵我們將學習觸角投入社團活動，培養團隊合作與人際互動的軟實力。因而對大學有了美好的憧憬，正準備積極挑戰並充實豐富自己的大學生活，高二暑假時便立志一定要考上貴校，進入這所人文素養扎實的大學，從中認識各個專業領域的學友。另外，貴校提供出國留學或交換學生的資源是全臺數一數二的，且貴校在商學領域無論是學術研究或是創業實務競賽皆有頂尖表現，因此貴校財務金融學系便是我最佳的選擇。</div>
					<span>校系特色</span>
                    <div class="article">國立OO大學財務金融學系的特色在於，其不僅是注重財務管理與公司治理的專業能力，同時對於資本市場中各式衍生性金融商品的學理知識也相當重視。國立OO大學財務金融學系與許多金融控股公司都有密切的產學合作關係，能夠有較多實習的機會，進行直接實務操作與了解。甚至與美國長春藤大學和英國皇家大學政經學院締約為姊妹校，能擁有國際雙聯學位，或是參加一學年的交換學生專案，國際資源相當豐富。</div>                    
                    <span>學習規劃</span>
                    <div class="article">（一）大一大二專業培養期<br />除了系上規定之學分與課程以外，自己還打算選修財務工程與精算模型領域的相關課程，目的是想更專精深入探究財務數學模型分析與各式衍生性金融商品的定價模式與設計型態。另一方面，由於財務工程模型會牽涉到電腦程式撰寫，輔以統計軟體應用，自己也規劃旁聽資訊管理系的課程，希望可以從中學習程式語言邏輯與常用商學統計軟體。最後，針對未來職場工作能力的培養，自己會從考取進階Power Point及Excel使用的專業證照，訓練自己的口語簡報技巧和數據分析能力。<br />（二）大三大四多元延伸期<br />自己規劃大三取得雙聯學位或是交換學生資格，在海外獨立學習的過程中還可以體驗當地風俗民情，結交各國學友擴展人脈，從互動中具體的認識國際現況，對於開闊思想與職場外派需求都會有所裨益。</div>                    
                    <div class="poster"><img th:src="${@environment.getProperty('static.url')}+@{/images/front/senior_review/senior_review_08.png}" ></div>
					<span>理想職涯</span>
                    <div class="article">畢業之後規劃從事金融產業相關工作，例如金融研究員或是產業分析師，將自己的能力運用在職場上，因應國際市場變化適時調整銷售策略，並開發國際市場以提高市場占有率。此外我考慮在工作之餘繼續就讀研究所，或是出國留學，期望自己能夠持續學習新知，以維持自己的實力不在競爭激烈的社會中被淘汰。</div>
                    <div class="clear_float"></div>
                </div><!-- tab_container -->
                
                <p><br /></p>
                
            </div><!--main_area -->

        </div><!-- content --> 
	<div th:insert="~{front/loadForOldPage/layout :: footer}"></div>	
	<script th:src="${@environment.getProperty('static.url')}+@{/js/facebook_Adjust.js}"></script>	
</div><!-- wrapper -->
</body>
</html>